Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

Prevent liquid spilling in actively regenerating plots which were unclaimed.
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
Labels: none

New translations en-US.yml (English (upside down))
  resources/lang/en-UD.yml
Labels: none

New translations en-US.yml (LOLCAT)
  resources/lang/lol-US.yml
Labels: none

New translations en-US.yml (LOLCAT)
  resources/lang/lol-US.yml
Labels: none

Replace some hardcoded town and nation strings with translatables
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

- Replace some hardcoded town and nation strings with translatables, courtesy of Warriorrrr with PR #6473.
  resources/ChangeLog.txt
Labels: none

New translations en-US.yml (LOLCAT)
  resources/lang/lol-US.yml
Labels: none

Containers permission backend
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/event/actions/TownyContainerEvent.java
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/object/PlayerCache.java
  src/com/palmergames/bukkit/towny/object/TownBlockData.java
  src/com/palmergames/bukkit/towny/object/TownyPermission.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
Labels: none

Containers permission frontend: PermHUD
  resources/lang/en-GB.yml
  resources/lang/en-US.yml
  resources/lang/fr-FR.yml
  src/com/palmergames/bukkit/towny/huds/PermHUD.java
Labels: none

Add translation for Containers permission
  resources/lang/en-GB.yml
  resources/lang/en-US.yml
  resources/lang/fr-FR.yml
Labels: none

Containers frontend: PermGUI & command completion
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/object/gui/EditGUI.java
  src/com/palmergames/bukkit/towny/utils/PermissionGUIUtil.java
Labels: Label-Command

Fix exception when tab completing /t jail with no town
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
Labels: Label-Command

- Fix exception when tab completing /t jail with no town, courtesy of Warriorrrr with PR #6476.
  resources/ChangeLog.txt
Labels: none

Fix autocompletion
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
Labels: Label-Command

- Clean up some old PermissionNodes that don't exist.
  resources/ChangeLog.txt
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
Labels: Label-Command

Revert en-GB & fr-FR
  resources/lang/en-GB.yml
  resources/lang/fr-FR.yml
Labels: none

Remove saving town assistants, which shouldn't have been nuked a while ago.
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
Labels: Label-Data

Remove saving of town assistants in mysql.
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

Containers: apply requested modifications
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/PermissionData.java
Labels: none

Undo changes to language files
  resources/lang/az-AZ.yml
  resources/lang/bg-BG.yml
  resources/lang/cs-CZ.yml
  resources/lang/da-DK.yml
  resources/lang/de-DE.yml
  resources/lang/en-GB.yml
  resources/lang/en-PT.yml
  resources/lang/en-UD.yml
  resources/lang/es-AR.yml
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-MX.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/id-ID.yml
  resources/lang/it-IT.yml
  resources/lang/ja-JP.yml
  resources/lang/ko-KR.yml
  resources/lang/lol-US.yml
  resources/lang/nl-NL.yml
  resources/lang/no-NO.yml
  resources/lang/pl-PL.yml
  resources/lang/pt-BR.yml
  resources/lang/pt-PT.yml
  resources/lang/ro-RO.yml
  resources/lang/ru-RU.yml
  resources/lang/sr-CS.yml
  resources/lang/sv-SE.yml
  resources/lang/th-TH.yml
  resources/lang/tl-PH.yml
  resources/lang/tr-TR.yml
  resources/lang/uk-UA.yml
  resources/lang/vi-VN.yml
  resources/lang/zh-CN.yml
  resources/lang/zh-TW.yml
Labels: none

Update src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Update src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Update resources/lang/en-US.yml
  resources/lang/en-US.yml
Labels: none

- Prevent liquid spilling in actively regenerating plots which were unclaimed.
  resources/ChangeLog.txt
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

Fix /ta forcemerge having swapped town names in message
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

- Fix /ta forcemerge having swapped town names in message, courtesy of Warriorrrr with PR #6484.
  resources/ChangeLog.txt
Labels: none

Fixed unneeded diffs (hopefully)
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: Label-Command

Fix lost line
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

New translations en-US.yml (Pirate English)
  resources/lang/en-PT.yml
Labels: none

New translations en-US.yml (Portuguese, Brazilian)
  resources/lang/pt-BR.yml
Labels: none

New translations en-US.yml (Korean)
  resources/lang/ko-KR.yml
Labels: none

New translations en-US.yml (Korean)
  resources/lang/ko-KR.yml
Labels: none

- New Command: Add buy subcommand to /ta town NAME. - Closes #6100.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: Label-Command, Label-TownyAdmin

New Crowdin updates (#6469)
  resources/lang/en-PT.yml
  resources/lang/es-CL.yml
  resources/lang/fr-FR.yml
  resources/lang/ko-KR.yml
  resources/lang/lol-US.yml
  resources/lang/pt-BR.yml
  resources/lang/sq-AL.yml
Labels: none

- Replace world with weakref in WorldCoord, courtesy of Warriorrrr with PR #6451.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Correct comment typos.
  src/com/palmergames/bukkit/config/ConfigNodes.java
Labels: none

- Correct the feedback message shown when /ta town TOWNNAME settownlevel unset is used.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Command, Label-Towns, Label-TownyAdmin

Fix /t claim doing economy calls on the main thread
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*
