Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*

Tidy meta methods
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

Tidy admin toggle
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

Tidy townyperms-rank command
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

- Refactor lots of TownyAdminCommand code.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

Remove unneeded ;
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

Tidy town toggle.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Tidy new town code
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Tidy parseJailCommand
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

- Warn about townblocks folder loading worlds Bukkit cannot find, instead of causing safe mode.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
Labels: Label-Data

Tidy a bit of new town code.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Refactor CreatureSpawnEvent listener.
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

Cleaner still.
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

Remove entity == null check, probably make town removal a bit more readable/right.
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

Refactor/creature spawn event (#6412)
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

- Refactor onCreatureSpawnEvent.
  resources/ChangeLog.txt
Labels: none

Use the new PaperLib#getHolder methods
  src/com/palmergames/bukkit/towny/listeners/TownyInventoryListener.java
Labels: none

- Use the new PaperLib#getHolder methods, courtesy of Warriorrrr with PR #6413.
  resources/ChangeLog.txt
Labels: none

Refactor TownyEntityListener hangingbreak and projectilehit event handlers.
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

Correct comment.
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

Correct method name, undouble final if
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

Lessen diff to master.
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

Refactor TownyEntityListener hangingbreak and projectilehit event handlers. (#6414)
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

- Refactor TownyEntityListener hangingbreak and projectilehit event handlers.
  resources/ChangeLog.txt
Labels: none

Simplify TownUpkeepCostRaw, reorder a couple methods.
  src/com/palmergames/bukkit/towny/TownySettings.java
Labels: none

- Simplify TownySettings#getTownUpkeepCostRaw.
  resources/ChangeLog.txt
Labels: none

Streamline the PlayerInteractEvent listener.
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: none

- Bump version for release.
  README.md
  pom.xml
  resources/ChangeLog.txt
Labels: none

Bump version and comment out the cursed github packages in the pom.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Hotfix: null permission source on servers with no permission plugin.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/hooks/PluginIntegrations.java
Labels: none

Bump version to 0.98.5.1.
  pom.xml
  resources/ChangeLog.txt
Labels: none

New translations en-US.yml (Japanese)
  resources/lang/ja-JP.yml
Labels: none

- Make StatusScreen colouring methods public in TownyFormatter.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/TownyFormatter.java
Labels: none

Feature: Town allowedToWar setting.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Command, Label-Data, Label-Towns, Label-TownyAdmin

Missed lang file.
  resources/lang/en-US.yml
Labels: none

Feature: Town allowedToWar setting. (#6422)
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Command, Label-Data, Label-Towns, Label-TownyAdmin

Give TownClaim some TLC
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: Label-Command, Label-TownBlock, Label-TownyAdmin

Fix up refund some more, clean up feedback messaging.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: Label-Command

Remove an unneeded else in TownCommand, reduce diff from master in TownyAdminCommand.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

Reduce spam if the player is unable to pay for the unclaimRefund.
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: none

Better confirmations for /t unclaim all
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: Label-Command
