Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

New translations en-US.yml (Albanian)
  resources/lang/sq-AL.yml
Labels: none

New translations en-US.yml (Swedish)
  resources/lang/sv-SE.yml
Labels: none

New translations en-US.yml (Turkish)
  resources/lang/tr-TR.yml
Labels: none

New translations en-US.yml (Ukrainian)
  resources/lang/uk-UA.yml
Labels: none

New translations en-US.yml (Chinese Simplified)
  resources/lang/zh-CN.yml
Labels: none

New translations en-US.yml (Chinese Traditional)
  resources/lang/zh-TW.yml
Labels: none

New translations en-US.yml (Vietnamese)
  resources/lang/vi-VN.yml
Labels: none

New translations en-US.yml (Portuguese, Brazilian)
  resources/lang/pt-BR.yml
Labels: none

New translations en-US.yml (Indonesian)
  resources/lang/id-ID.yml
Labels: none

New translations en-US.yml (Spanish, Argentina)
  resources/lang/es-AR.yml
Labels: none

New translations en-US.yml (Spanish, Mexico)
  resources/lang/es-MX.yml
Labels: none

New translations en-US.yml (Spanish, Uruguay)
  resources/lang/es-UY.yml
Labels: none

New translations en-US.yml (Spanish, Venezuela)
  resources/lang/es-VE.yml
Labels: none

New translations en-US.yml (Spanish, Ecuador)
  resources/lang/es-EC.yml
Labels: none

New translations en-US.yml (Thai)
  resources/lang/th-TH.yml
Labels: none

New translations en-US.yml (Azerbaijani)
  resources/lang/az-AZ.yml
Labels: none

New translations en-US.yml (English, United Kingdom)
  resources/lang/en-GB.yml
Labels: none

New translations en-US.yml (Tagalog)
  resources/lang/tl-PH.yml
Labels: none

New translations en-US.yml (Pirate English)
  resources/lang/en-PT.yml
Labels: none

New translations en-US.yml (Serbian (Latin))
  resources/lang/sr-CS.yml
Labels: none

New translations en-US.yml (English (upside down))
  resources/lang/en-UD.yml
Labels: none

New translations en-US.yml (LOLCAT)
  resources/lang/lol-US.yml
Labels: none

- Only show cost confirmation for setting map color when the cost is above 0.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

New translations en-US.yml (Lithuanian)
  resources/lang/lt-LT.yml
Labels: none

New translations en-US.yml (Lithuanian)
  resources/lang/lt-LT.yml
Labels: none

New translations en-US.yml (Lithuanian)
  resources/lang/lt-LT.yml
Labels: none

Fix legacy format subtitle oob
  src/com/palmergames/bukkit/util/ChatTools.java
Labels: none

Display mayor as none if town has no mayor
  src/com/palmergames/bukkit/towny/TownyFormatter.java
Labels: none

Make campfire water bottle protection a bit better
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

Remove -1
  src/com/palmergames/bukkit/util/ChatTools.java
Labels: none

New translations en-US.yml (Lithuanian)
  resources/lang/lt-LT.yml
Labels: none

Fix legacy format subtitle out of bounds (#6630)
  src/com/palmergames/bukkit/util/ChatTools.java
Labels: none

New Crowdin updates (#6627)
  resources/lang/bg-BG.yml
  resources/lang/cs-CZ.yml
  resources/lang/da-DK.yml
  resources/lang/de-DE.yml
  resources/lang/en-GB.yml
  resources/lang/en-PT.yml
  resources/lang/en-UD.yml
  resources/lang/es-AR.yml
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-MX.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/id-ID.yml
  resources/lang/it-IT.yml
  resources/lang/ja-JP.yml
  resources/lang/ko-KR.yml
  resources/lang/lol-US.yml
  resources/lang/lt-LT.yml
  resources/lang/nl-NL.yml
  resources/lang/no-NO.yml
  resources/lang/pl-PL.yml
  resources/lang/pt-BR.yml
  resources/lang/pt-PT.yml
  resources/lang/ro-RO.yml
  resources/lang/ru-RU.yml
  resources/lang/sq-AL.yml
  resources/lang/sr-CS.yml
  resources/lang/sv-SE.yml
  resources/lang/th-TH.yml
  resources/lang/tl-PH.yml
  resources/lang/tr-TR.yml
  resources/lang/uk-UA.yml
  resources/lang/vi-VN.yml
  resources/lang/zh-CN.yml
  resources/lang/zh-TW.yml
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (Turkish)
  resources/lang/tr-TR.yml
Labels: none

New translations en-US.yml (Lithuanian)
  resources/lang/lt-LT.yml
Labels: none

- Prevent creatures from using switches more reliably. - Closes #6640.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

Redo colouring the helpmenus, using Translations instead of config options.
  resources/ChangeLog.txt
  resources/global.yml
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/util/ChatTools.java
Labels: none

- Fix incorrect balances shown in the bankhistory books.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/object/economy/GovernmentAccountAuditor.java
Labels: Label-Money

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*
