Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

- Fix potential NPE thrown when players log off before their spawn warmup is over, when TeleportCause.PLUGIN is used. - Closes #6643.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: none

- New PAPI Placeholder: %townyadvanced_resident_primary_rank_spaced% - Displays a resident's primary rank with a space afterwards.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/hooks/TownyPlaceholderExpansion.java
Labels: none

New translations en-US.yml (Portuguese, Brazilian)
  resources/lang/pt-BR.yml
Labels: none

Fix config options keys.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/config/ConfigNodes.java
Labels: none

- Fix distance test for merging towns.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Replace code with MathUtil method.
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

New translations en-US.yml (Japanese)
  resources/lang/ja-JP.yml
Labels: none

New translations en-US.yml (Japanese)
  resources/lang/ja-JP.yml
Labels: none

Update sql schema to close resources properly
  src/com/palmergames/bukkit/towny/db/SQLSchema.java
Labels: Label-Data

Update filemgmt to close resources properly on error.
  src/com/palmergames/util/FileMgmt.java
Labels: none

Add additional stream to header and formatting.
  src/com/palmergames/util/FileMgmt.java
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

Cleanup Resources not using modern Try (#6649)
  src/com/palmergames/bukkit/towny/db/SQLSchema.java
  src/com/palmergames/util/FileMgmt.java
Labels: Label-Data

- Cleanup Resources not using modern Try, courtesy of jimender2 with PR #6649. (First-Time Contributor!)
  resources/ChangeLog.txt
Labels: none

New Crowdin updates (#6635)
  resources/lang/az-AZ.yml
  resources/lang/bg-BG.yml
  resources/lang/cs-CZ.yml
  resources/lang/da-DK.yml
  resources/lang/de-DE.yml
  resources/lang/en-GB.yml
  resources/lang/en-PT.yml
  resources/lang/en-UD.yml
  resources/lang/es-AR.yml
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-MX.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/id-ID.yml
  resources/lang/it-IT.yml
  resources/lang/ja-JP.yml
  resources/lang/ko-KR.yml
  resources/lang/lol-US.yml
  resources/lang/lt-LT.yml
  resources/lang/nl-NL.yml
  resources/lang/no-NO.yml
  resources/lang/pl-PL.yml
  resources/lang/pt-BR.yml
  resources/lang/pt-PT.yml
  resources/lang/ro-RO.yml
  resources/lang/ru-RU.yml
  resources/lang/sq-AL.yml
  resources/lang/sr-CS.yml
  resources/lang/sv-SE.yml
  resources/lang/th-TH.yml
  resources/lang/tl-PH.yml
  resources/lang/tr-TR.yml
  resources/lang/uk-UA.yml
  resources/lang/vi-VN.yml
  resources/lang/zh-CN.yml
  resources/lang/zh-TW.yml
Labels: none

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*
