Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*

New Crowdin updates (#6529)
  resources/lang/nl-NL.yml
Labels: none

- Fix pressure plates not respecting switch permissions, courtesy of Pesto with PR #6532. - Closes #6530.
  pom.xml
  resources/ChangeLog.txt
Labels: none

New translations en-US.yml (Dutch)
  resources/lang/nl-NL.yml
Labels: none

- Bump annotations from 24.0.0 to 24.0.1. - Bump maven-compiler-plugin from 3.10.1 to 3.11.0.
  pom.xml
  resources/ChangeLog.txt
Labels: none

New translations en-US.yml (Dutch)
  resources/lang/nl-NL.yml
Labels: none

Correct copy paste mistake
  src/com/palmergames/bukkit/towny/TownySettings.java
Labels: none

Make town and nation level related errors easier to debug (#6524)
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/exceptions/TownyException.java
Labels: Label-Command, Label-TownyAdmin

- Make town and nation level related errors easier to debug, courtesy of Warriorrrr with PR #6524.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

Relativize paths in tar.gz backups
  src/com/palmergames/bukkit/towny/tasks/BackupTask.java
  src/com/palmergames/util/FileMgmt.java
Labels: none

Change format used for backup file names
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/util/FileMgmt.java
Labels: Label-Data

New translations en-US.yml (Bulgarian)
  resources/lang/bg-BG.yml
Labels: none

Add /res toggle townborder
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
  src/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: Label-Command

Cached cellBorder list.
  src/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: none

- Fix potential NPE in TownyBlockListener.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
Labels: none

Gather and use Color only once.
  src/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: none

Begin cache
  pom.xml
  src/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: none

Make sure we aren't paying negative amounts to a Nation bank account during tax time.
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
Labels: Label-Money

Caching but it doesn't work.
  src/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: none

Fix cache and undo changes to WorldCoord.
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
  src/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: none

New Crowdin updates (#6533)
  resources/lang/bg-BG.yml
  resources/lang/nl-NL.yml
Labels: none

- Change format used for backup file names, courtesy of Warriorrrr with PR #6538. - Relativize paths in tar.gz backups, courtesy of Warriorrrr with PR #6537.
  resources/ChangeLog.txt
Labels: none

Remove unneeded dependency.
  pom.xml
Labels: none

Review requests
  src/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: none

Debt-related fix.
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
Labels: Label-Money

Another good catch by Warrior
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
Labels: Label-Money

Make sure we aren't paying negative amounts to a Nation bank account during tax time. (#6541)
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
Labels: Label-Money

- Make sure we aren't paying negative amounts to a Nation bank account during tax time. - Closes #6540.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Add an option to disable the mysql backup warning
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/db/DatabaseConfig.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: Label-Data

Apply suggestions from code review
  src/com/palmergames/bukkit/towny/db/DatabaseConfig.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: Label-Data

Add an option to disable the mysql backup warning (#6542)
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/db/DatabaseConfig.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: Label-Data

- Fix potential NPE in MapHud.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/huds/MapHUD.java
Labels: none

Add /res toggle townborder (#6539)
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: Label-Command

- Add /res toggle townborder. - A command that turns on townborder mode. - This new mode highlights the borders of the town you're stood in, using the affiliation colours.
  resources/ChangeLog.txt
Labels: none

Fix upkeep warning message doing sync economy calls
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
Labels: none

Fix unclaim refunds doing sync economy calls
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: Label-Command

- Fix upkeep warning message doing sync economy calls, courtesy of Warriorrrr with PR #6547. - Fix unclaim refunds doing sync economy calls, courtesy of Warriorrrr with PR #6548.
  pom.xml
  resources/ChangeLog.txt
Labels: none

- Modernize plot command. - API: Add TownyAPI#testPlotOwnerOrThrow - Check if a plot is owned by someone.
  resources/ChangeLog.txt
Labels: none

- Fix nation percentage taxes not calculating correctly.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
Labels: none

New translations en-US.yml (Spanish, Chile)
  resources/lang/es-CL.yml
Labels: none

Fix backups for windows
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: Label-Data
