Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

New translations en-US.yml (Danish)
  resources/lang/da-DK.yml
Labels: none

Take care of some redundant filtering in parsing the town claim command.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Correct javadocs in AreaSelectionUtil.
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: none

Add new items to ItemLists
  pom.xml
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: none

- Update to 1.19.4, courtesy of Warriorrrr with PR #6570.
  pom.xml
  resources/ChangeLog.txt
Labels: none

New Crowdin updates (#6569)
  resources/lang/da-DK.yml
  resources/lang/uk-UA.yml
Labels: none

New translations en-US.yml (Chinese Traditional)
  resources/lang/zh-TW.yml
Labels: none

API: Add TownConqueredEvent
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/event/town/TownConqueredEvent.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
Labels: Label-Data, Label-Towns

- Update Adventure dependencies.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Remove the ability for conquering to throw unneeded events.
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Towns

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

- New PAPI Placeholder: %townyadvanced_townblock_next_claim_price% - Displays the cost of the player's town's next claim, taking into account any townblock price increase rules. - Closes #6576.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/hooks/TownyPlaceholderExpansion.java
Labels: none

- Fix NRE thrown in AreaSelectionUtil. - Closes #6578.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: none

Add new TownyRTP lang string.
  resources/lang/en-US.yml
Labels: none

Another TownyRTP language string.
  resources/lang/en-US.yml
Labels: none

New translations en-US.yml (Bulgarian)
  resources/lang/bg-BG.yml
Labels: none

New translations en-US.yml (Dutch)
  resources/lang/nl-NL.yml
Labels: none

New translations en-US.yml (Spanish, Chile)
  resources/lang/es-CL.yml
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (Romanian)
  resources/lang/ro-RO.yml
Labels: none

New translations en-US.yml (Spanish)
  resources/lang/es-ES.yml
Labels: none

New translations en-US.yml (Czech)
  resources/lang/cs-CZ.yml
Labels: none

New translations en-US.yml (Danish)
  resources/lang/da-DK.yml
Labels: none

New translations en-US.yml (German)
  resources/lang/de-DE.yml
Labels: none

New translations en-US.yml (Hebrew)
  resources/lang/he-IL.yml
Labels: none

New translations en-US.yml (Italian)
  resources/lang/it-IT.yml
Labels: none

New translations en-US.yml (Japanese)
  resources/lang/ja-JP.yml
Labels: none

New translations en-US.yml (Korean)
  resources/lang/ko-KR.yml
Labels: none

New translations en-US.yml (Norwegian)
  resources/lang/no-NO.yml
Labels: none

New translations en-US.yml (Polish)
  resources/lang/pl-PL.yml
Labels: none

New translations en-US.yml (Portuguese)
  resources/lang/pt-PT.yml
Labels: none

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

New translations en-US.yml (Albanian)
  resources/lang/sq-AL.yml
Labels: none

New translations en-US.yml (Swedish)
  resources/lang/sv-SE.yml
Labels: none

New translations en-US.yml (Turkish)
  resources/lang/tr-TR.yml
Labels: none

New translations en-US.yml (Ukrainian)
  resources/lang/uk-UA.yml
Labels: none

New translations en-US.yml (Chinese Simplified)
  resources/lang/zh-CN.yml
Labels: none

New translations en-US.yml (Chinese Traditional)
  resources/lang/zh-TW.yml
Labels: none

New translations en-US.yml (Vietnamese)
  resources/lang/vi-VN.yml
Labels: none

New translations en-US.yml (Portuguese, Brazilian)
  resources/lang/pt-BR.yml
Labels: none

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*
