Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*

New translations en-US.yml (Portuguese, Brazilian)
  resources/lang/pt-BR.yml
Labels: none

New translations en-US.yml (Indonesian)
  resources/lang/id-ID.yml
Labels: none

New translations en-US.yml (Spanish, Argentina)
  resources/lang/es-AR.yml
Labels: none

New translations en-US.yml (Spanish, Chile)
  resources/lang/es-CL.yml
Labels: none

New translations en-US.yml (Spanish, Mexico)
  resources/lang/es-MX.yml
Labels: none

New translations en-US.yml (Spanish, Uruguay)
  resources/lang/es-UY.yml
Labels: none

New translations en-US.yml (Spanish, Venezuela)
  resources/lang/es-VE.yml
Labels: none

New translations en-US.yml (Spanish, Ecuador)
  resources/lang/es-EC.yml
Labels: none

New translations en-US.yml (Thai)
  resources/lang/th-TH.yml
Labels: none

New translations en-US.yml (Tagalog)
  resources/lang/tl-PH.yml
Labels: none

New translations en-US.yml (Serbian (Latin))
  resources/lang/sr-CS.yml
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

- Better feedback message when an override lang file is not able to pass a yaml test.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/object/TranslationLoader.java
Labels: none

- Fix /plot clear not going all the way to the bottom of 1.19 worlds.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
Labels: none

Create deploy_prerelease
  .github/workflows/deploy_prerelease
Labels: Label-CI/CD

Add workflow in draft status.
  .github/workflows/deploy_prerelease.yml
  .github/workflows/prerelease/get_sponsors.php
  .github/workflows/prerelease/prerelease.py
  .github/workflows/prerelease/sponsortable.py
Labels: Label-CI/CD

Fix yaml
  .github/workflows/deploy_prerelease.yml
Labels: Label-CI/CD

Make yaml linter happy?
  .github/workflows/deploy_prerelease.yml
Labels: Label-CI/CD

Create deploy_prerelease workflow (#6368)
  .github/workflows/deploy_prerelease.yml
  .github/workflows/prerelease/get_sponsors.php
  .github/workflows/prerelease/prerelease.py
  .github/workflows/prerelease/sponsortable.py
Labels: Label-CI/CD

Update deploy_prerelease.yml
  .github/workflows/deploy_prerelease.yml
Labels: Label-CI/CD

Update deploy_prerelease.yml
  .github/workflows/deploy_prerelease.yml
Labels: Label-CI/CD

Update deploy_prerelease.yml
  .github/workflows/deploy_prerelease.yml
Labels: Label-CI/CD

Fix deploy_prerelease workflow
  .github/workflows/deploy_prerelease.yml
Labels: Label-CI/CD

Replace deprecated getPassenger
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

Fix version columns.
  README.md
Labels: none

New Crowdin updates (#6362)
  resources/lang/az-AZ.yml
  resources/lang/bg-BG.yml
  resources/lang/cs-CZ.yml
  resources/lang/da-DK.yml
  resources/lang/de-DE.yml
  resources/lang/en-GB.yml
  resources/lang/es-AR.yml
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-MX.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/id-ID.yml
  resources/lang/it-IT.yml
  resources/lang/ja-JP.yml
  resources/lang/ko-KR.yml
  resources/lang/nl-NL.yml
  resources/lang/no-NO.yml
  resources/lang/pl-PL.yml
  resources/lang/pt-BR.yml
  resources/lang/pt-PT.yml
  resources/lang/ro-RO.yml
  resources/lang/ru-RU.yml
  resources/lang/sr-CS.yml
  resources/lang/sv-SE.yml
  resources/lang/th-TH.yml
  resources/lang/tl-PH.yml
  resources/lang/tr-TR.yml
  resources/lang/uk-UA.yml
  resources/lang/vi-VN.yml
  resources/lang/zh-CN.yml
  resources/lang/zh-TW.yml
Labels: none

- Replace deprecated getPassenger, courtesy of Warriorrrr with PR #6370. - Bump annotations from 23.0.0 to 23.1.0.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

- Fix possible IllegalStateException thrown from ConfirmationSendEvent when /t unclaim all is run.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/confirmations/event/ConfirmationEvent.java
Labels: none

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

- Show correct invalid name when a nation is improperly named.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: Label-Command

push local changes
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/util/PluginSupportUtil.java
Labels: none

Expose unformatted time in BankTransaction
  src/com/palmergames/bukkit/towny/object/economy/BankTransaction.java
Labels: Label-Money

Update sponsor perks link to new repo
  .github/workflows/prerelease/sponsortable.py
Labels: none

- Expose unformatted time in BankTransaction, courtesy of Warriorrrr with PR #6372.
  resources/ChangeLog.txt
Labels: none

Bump version number.
  pom.xml
  resources/ChangeLog.txt
Labels: none

API: Update Economy-related events.
  src/com/palmergames/bukkit/towny/TownyEconomyHandler.java
  src/com/palmergames/bukkit/towny/event/NationPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/NationTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownyPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/BankTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/NationPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/NationTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/TownPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/TownTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/TownyPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/TownyTransactionEvent.java
  src/com/palmergames/bukkit/towny/utils/MoneyUtil.java
Labels: Label-Money, Label-Events

Fix new javadocs generating.
  src/com/palmergames/bukkit/towny/event/economy/BankTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/TownyPreTransactionEvent.java
Labels: none

New translations en-US.yml (Portuguese)
  resources/lang/pt-PT.yml
Labels: none

Lookup towny worlds via uuid
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/TownyPlaceholderExpansion.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
  src/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
Labels: Label-Command, Label-TownyAdmin, Label-API
