Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

- Fix money.csv not logging server-account deposit/withdraws.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/object/economy/Account.java
Labels: Label-Money

Fix wildcard imports
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Requested changes
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/event/TownBlockPermissionChangeEvent.java
  src/com/palmergames/bukkit/towny/event/TownBlockSettingsPreChangeEvent.java
Labels: Label-Command, Label-Events

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

Requested changes #3
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

New translations en-US.yml (Portuguese, Brazilian)
  resources/lang/pt-BR.yml
Labels: none

New translations en-US.yml (Portuguese, Brazilian)
  resources/lang/pt-BR.yml
Labels: none

Add support for EliteMobs mob removal.
  src/com/palmergames/bukkit/towny/hooks/PluginIntegrations.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
Labels: none

- Add support for EliteMobs mob removal.
  resources/ChangeLog.txt
Labels: none

- Add (for now unused) resourceProductionModifier stat to the config Town_Level. - Your configs will automatically have this added with the default 1.0 setting.
  resources/ChangeLog.txt
  resources/config-migration.json
  src/com/palmergames/bukkit/towny/TownySettings.java
Labels: none

New Crowdin updates (#6456)
  resources/lang/pt-BR.yml
  resources/lang/ru-RU.yml
Labels: none

Remove unneeded diffs
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Call event in TownCommand
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Fix import order
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

- Fix plot hud and plot perm commands showing town settings for mobs/fire that were not relevant.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/huds/PermHUD.java
Labels: none

Fix NPE when clicking back button in a non-selection gui
  src/com/palmergames/bukkit/towny/object/TownyInventory.java
Labels: none

Fix sql worldlist loading
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
Labels: Label-Data

Make flatfile worldlist loading a bit smarter
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

New translations en-US.yml (Pirate English)
  resources/lang/en-PT.yml
Labels: none

New translations en-US.yml (English (upside down))
  resources/lang/en-UD.yml
Labels: none

New translations en-US.yml (English, United Kingdom)
  resources/lang/en-GB.yml
Labels: none

New translations en-US.yml (Pirate English)
  resources/lang/en-PT.yml
Labels: none

New translations en-US.yml (LOLCAT)
  resources/lang/lol-US.yml
Labels: none

Update src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

- Fix NPE when clicking back button in a non-selection gui, courtesy of Warriorrrr with PR #6464.
  resources/ChangeLog.txt
Labels: none

Deprecate TownBlock Material and Entity systems in TownyRegenAPI and make new classes as replacements:
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/regen/WorldCoordEntityRemover.java
  src/com/palmergames/bukkit/towny/regen/WorldCoordMaterialRemover.java
  src/com/palmergames/bukkit/towny/tasks/RepeatingTimerTask.java
Labels: Label-Command, Label-Data

Make it a functioning queue.
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/tasks/RepeatingTimerTask.java
Labels: none

Put limits on how many unclaimed townblocks can have their material/entity deletions run at once.
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/tasks/RepeatingTimerTask.java
Labels: none

Remove force-loading/unloading plot.
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
Labels: none

Update README.md
  README.md
Labels: none

Update prerelease.py
  .github/workflows/prerelease/prerelease.py
Labels: none

Feature/world UUID loading (#6377)
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
Labels: Label-Data, Label-API

New Crowdin updates (#6467)
  resources/lang/en-PT.yml
  resources/lang/en-UD.yml
  resources/lang/lol-US.yml
Labels: none

Update prerelease.py
  .github/workflows/prerelease/prerelease.py
Labels: none

New translations en-US.yml (Spanish, Chile)
  resources/lang/es-CL.yml
Labels: none

New translations en-US.yml (Albanian)
  resources/lang/sq-AL.yml
Labels: none

Put limits on how many unclaimed townblocks can have their material/entity deletions run at once. (#6448)
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/regen/WorldCoordEntityRemover.java
  src/com/palmergames/bukkit/towny/regen/WorldCoordMaterialRemover.java
  src/com/palmergames/bukkit/towny/tasks/RepeatingTimerTask.java
Labels: Label-Command, Label-Data

- Put limits on how many unclaimed townblocks can have their material/entity deletions run at once.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Remove unused import.
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
Labels: Label-Data

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*
