Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*

New translations en-US.yml (Spanish, Uruguay)
  resources/lang/es-UY.yml
Labels: none

New translations en-US.yml (Spanish, Venezuela)
  resources/lang/es-VE.yml
Labels: none

New translations en-US.yml (Spanish, Ecuador)
  resources/lang/es-EC.yml
Labels: none

New translations en-US.yml (Thai)
  resources/lang/th-TH.yml
Labels: none

New translations en-US.yml (Azerbaijani)
  resources/lang/az-AZ.yml
Labels: none

New translations en-US.yml (English, United Kingdom)
  resources/lang/en-GB.yml
Labels: none

New translations en-US.yml (Tagalog)
  resources/lang/tl-PH.yml
Labels: none

New translations en-US.yml (Pirate English)
  resources/lang/en-PT.yml
Labels: none

New translations en-US.yml (Serbian (Latin))
  resources/lang/sr-CS.yml
Labels: none

New translations en-US.yml (English (upside down))
  resources/lang/en-UD.yml
Labels: none

New translations en-US.yml (LOLCAT)
  resources/lang/lol-US.yml
Labels: none

New Crowdin updates (#6588)
  resources/lang/az-AZ.yml
  resources/lang/bg-BG.yml
  resources/lang/cs-CZ.yml
  resources/lang/da-DK.yml
  resources/lang/de-DE.yml
  resources/lang/en-GB.yml
  resources/lang/en-PT.yml
  resources/lang/en-UD.yml
  resources/lang/es-AR.yml
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-MX.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/id-ID.yml
  resources/lang/it-IT.yml
  resources/lang/ja-JP.yml
  resources/lang/ko-KR.yml
  resources/lang/lol-US.yml
  resources/lang/nl-NL.yml
  resources/lang/no-NO.yml
  resources/lang/pl-PL.yml
  resources/lang/pt-BR.yml
  resources/lang/pt-PT.yml
  resources/lang/ro-RO.yml
  resources/lang/ru-RU.yml
  resources/lang/sq-AL.yml
  resources/lang/sr-CS.yml
  resources/lang/sv-SE.yml
  resources/lang/th-TH.yml
  resources/lang/tl-PH.yml
  resources/lang/tr-TR.yml
  resources/lang/uk-UA.yml
  resources/lang/vi-VN.yml
  resources/lang/zh-CN.yml
  resources/lang/zh-TW.yml
Labels: none

Undo some changes
  src/com/palmergames/bukkit/towny/object/CellBorder.java
  src/com/palmergames/bukkit/util/DrawUtil.java
Labels: none

Remove unused methods.
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
Labels: none

New translations en-US.yml (Spanish)
  resources/lang/es-ES.yml
Labels: none

New translations en-US.yml (Spanish, Chile)
  resources/lang/es-CL.yml
Labels: none

New translations en-US.yml (Spanish, Uruguay)
  resources/lang/es-UY.yml
Labels: none

New translations en-US.yml (Spanish, Venezuela)
  resources/lang/es-VE.yml
Labels: none

New translations en-US.yml (Spanish, Ecuador)
  resources/lang/es-EC.yml
Labels: none

New translations en-US.yml (Vietnamese)
  resources/lang/vi-VN.yml
Labels: none

- Fix potential NPE in /plot claim command.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: Label-Command

Fix warnings.
  pom.xml
  src/com/palmergames/bukkit/towny/object/CellBorder.java
Labels: none

Add Bridger plugin to pom.xml. (#6584)
  pom.xml
Labels: none

- Add Bridger plugin to pom.xml, courtesy of Warriorrrr with PR #6584.
  resources/ChangeLog.txt
Labels: none

Make account a bit smarter
  src/com/palmergames/bukkit/towny/object/economy/Account.java
Labels: Label-Money

- Make account a bit smarter, courtesy of Warriorrrr with PR #6597.
  pom.xml
  resources/ChangeLog.txt
Labels: none

New translations en-US.yml (Portuguese)
  resources/lang/pt-PT.yml
Labels: none

New translations en-US.yml (Portuguese)
  resources/lang/pt-PT.yml
Labels: none

- Make SQLSource more resiliant to worlds that have not recorded a UUID correctly.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/util/BukkitTools.java
Labels: Label-Data

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

Fix up some missed stuffs
  src/com/palmergames/bukkit/towny/object/EconomyAccount.java
  src/com/palmergames/bukkit/towny/object/Government.java
  src/com/palmergames/bukkit/towny/object/economy/Account.java
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  src/com/palmergames/bukkit/towny/object/economy/TownyServerAccount.java
Labels: Label-Money

New Crowdin updates (#6594)
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/pt-PT.yml
  resources/lang/ru-RU.yml
  resources/lang/vi-VN.yml
Labels: none

- Bump bstats-bukkit from 3.0.1 to 3.0.2.
  resources/ChangeLog.txt
Labels: none

New translations en-US.yml (Portuguese)
  resources/lang/pt-PT.yml
Labels: none

Remove deprecations made in the 0.97 series of Towny releases.
  pom.xml
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/TownyTimerHandler.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/event/PlotChangeOwnerEvent.java
  src/com/palmergames/bukkit/towny/event/nation/toggle/NationToggleUnknownEvent.java
  src/com/palmergames/bukkit/towny/event/statusscreen/StatusScreenEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownTrustAddEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownTrustRemoveEvent.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/ObjectGroup.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/TownBlockType.java
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  src/com/palmergames/bukkit/towny/permissions/TownyPerms.java
  src/com/palmergames/bukkit/towny/tasks/NewDayScheduler.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
  src/com/palmergames/util/StringMgmt.java
Labels: Label-Command, Label-Data, Label-Money, Label-Events, Label-Nations, Label-Resident, Label-TownBlock, Label-API

- Remove deprecations made in the 0.97 series of Towny releases.
  resources/ChangeLog.txt
Labels: none

Update changelog and set the pom up to handle a GitHub Packages release.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Update README.md
  README.md
Labels: none

Restore glaremaster repo in pom.
  pom.xml
Labels: none

New translations en-US.yml (Portuguese)
  resources/lang/pt-PT.yml
Labels: none
