Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*

New translations en-US.yml (English (upside down))
  resources/lang/en-UD.yml
Labels: none

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

New Crowdin updates (#6498)
  resources/lang/az-AZ.yml
  resources/lang/bg-BG.yml
  resources/lang/cs-CZ.yml
  resources/lang/da-DK.yml
  resources/lang/de-DE.yml
  resources/lang/en-GB.yml
  resources/lang/en-PT.yml
  resources/lang/en-UD.yml
  resources/lang/es-AR.yml
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-MX.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/id-ID.yml
  resources/lang/it-IT.yml
  resources/lang/ja-JP.yml
  resources/lang/ko-KR.yml
  resources/lang/lol-US.yml
  resources/lang/nl-NL.yml
  resources/lang/no-NO.yml
  resources/lang/pl-PL.yml
  resources/lang/pt-BR.yml
  resources/lang/pt-PT.yml
  resources/lang/ro-RO.yml
  resources/lang/ru-RU.yml
  resources/lang/sq-AL.yml
  resources/lang/sr-CS.yml
  resources/lang/sv-SE.yml
  resources/lang/th-TH.yml
  resources/lang/tl-PH.yml
  resources/lang/tr-TR.yml
  resources/lang/uk-UA.yml
  resources/lang/vi-VN.yml
  resources/lang/zh-CN.yml
  resources/lang/zh-TW.yml
Labels: none

Add remove town only option to resident purge
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/ResidentPurge.java
Labels: Label-Command, Label-TownyAdmin

Remove unneeded Towny instance from ResidentPurge.
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/ResidentPurge.java
Labels: Label-Command, Label-TownyAdmin

ignore minAdjacentBlock if creating an outpost, on an outpost, or a surrounding block is an outpost.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Update plugin.yml to use the proper name for MyWorlds
  resources/plugin.yml
Labels: none

- Update plugin.yml to use the proper name for MyWorlds, courtesy of bergerkiller with PR #6511. (First-Time Contributor!)
  resources/ChangeLog.txt
Labels: none

- Fix king prefix not showing.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/TownySettings.java
Labels: none

Get new method working, un-nest new code.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Whitespace diff
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

ignore minAdjacentBlock if creating an outpost, on an outpost, or a s… (#6510)
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

- Fix min_adjacent_blocks setting breaking outposts, courtesy of JKJameson & LlmDl with PR #6510. - Closes #6505.
  resources/ChangeLog.txt
Labels: none

Bank Account update
  src/com/palmergames/bukkit/towny/object/Government.java
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
Labels: Label-Money

- BankAccount update. - Old constructor deprecated, setting balanceCap deprecated. - Potentially fixes the ability for a town to go bankrupt when this feature is disabled.
  resources/ChangeLog.txt
Labels: none

API: TownEntersBankruptcyEvent
  src/com/palmergames/bukkit/towny/event/economy/TownEntersBankruptcyEvent.java
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
Labels: Label-Money

- API: TownEntersBankruptcyEvent. - Thrown when a town enters bankruptcy.
  resources/ChangeLog.txt
Labels: none

API: Add PlayerChangePlotTypeEvent
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/event/plot/PlayerChangePlotTypeEvent.java
Labels: Label-Command

Alter the TownBlockTypeHandler to be able to receive TownBlockTypes from other plugins on server startup.
  src/com/palmergames/bukkit/towny/object/TownBlockData.java
  src/com/palmergames/bukkit/towny/object/TownBlockType.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
Labels: none

Minor diff.
  src/com/palmergames/bukkit/towny/object/TownBlockData.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
Labels: none

Remove throws javadoc.
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
Labels: none

Update paper repo url
  pom.xml
Labels: none

- Update paper repo url, courtesy of Warriorrrr with PR #6520.
  pom.xml
  resources/ChangeLog.txt
Labels: none

- API: Add PlayerChangePlotTypeEvent. - Thrown after a player successfully changes a TownBlock's plot type. - Bump log4j-core from 2.19.0 to 2.20.0.
  resources/ChangeLog.txt
Labels: none

Make townBlockTypeMap final, return TownyException to alreadyLoaded warning.
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
Labels: none

- Remove town_spawn: true requirement for jailing altering jailed player's spawn points.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: none

Undo the equality checks, do some more lower-casing with Locale.ROOT for safety.
  src/com/palmergames/bukkit/towny/object/TownBlockData.java
  src/com/palmergames/bukkit/towny/object/TownBlockType.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
Labels: none

Alter the TownBlockTypeHandler to be able to receive TownBlockTypes from other plugins on server startup. (#6519)
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
Labels: none

- Alter the TownBlockTypeHandler to be able to receive TownBlockTypes from other plugins on server startup.
  resources/ChangeLog.txt
Labels: none

Add a heartfelt message from LlmDl to the readme.
  README.md
Labels: none

Make level related errors easier to debug
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/exceptions/TownyException.java
Labels: Label-Command, Label-TownyAdmin

Fix sql source query NPE
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

Prevent polling at the same time
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

Fix sql source query NPE (#6527)
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

- Fix sql source query NPE, courtesy of Warriorrrr with PR #6527.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Fix /ta set mayor causing an npe if the old mayor is null
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

- Fix /ta set mayor causing an npe if the old mayor is null, courtesy of Warriorrrr with PR #6528.
  resources/ChangeLog.txt
Labels: none

New translations en-US.yml (Dutch)
  resources/lang/nl-NL.yml
Labels: none

New translations en-US.yml (Dutch)
  resources/lang/nl-NL.yml
Labels: none

Fix pressure plates not respecting switch permissions
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: none
