Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*

requested changes pt.2
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/util/PluginSupportUtil.java
Labels: none

Make it possible to use /t deposit amount townname
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: Label-Command

Didn't need the resident == null check anymore.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

working prototype with multiple changes
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/util/PluginSupportUtil.java
Labels: none

Make it possible to use /t deposit amount townname (#6353)
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: Label-Command

Bump version number
  pom.xml
Labels: none

Add /res toggle adminbypass
  resources/lang/en-US.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: Label-Command, Label-TownyAdmin

Remove unused node from the plugin.yml and PermissionNodes enum.
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: none

Some more javadocs, deprecate #has for #testPermission
  src/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
Labels: none

Remove unused /ta toggle code.
  resources/lang/en-US.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: Label-Command, Label-TownyAdmin

- Bump adventure-platform-bukkit from 4.1.2 to 4.2.0.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Update readme for recommended versions.
  README.md
  resources/ChangeLog.txt
Labels: none

Add /res toggle adminbypass & tidy TownyPermissionSource (#6356)
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: Label-Command

Add javadocs & annotations for bed explode event
  src/com/palmergames/bukkit/towny/event/BedExplodeEvent.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: Label-Events

Remove old powdered snow workaround
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
Labels: none

Fix possible /tw set wildname NPE
  src/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
Labels: Label-Command

New translations en-US.yml (Italian)
  resources/lang/it-IT.yml
Labels: none

New translations en-US.yml (Turkish)
  resources/lang/tr-TR.yml
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

New translations en-US.yml (Azerbaijani)
  resources/lang/az-AZ.yml
Labels: none

New translations en-US.yml (English, United Kingdom)
  resources/lang/en-GB.yml
Labels: none

New translations en-US.yml (Romanian)
  resources/lang/ro-RO.yml
Labels: none

New translations en-US.yml (Spanish)
  resources/lang/es-ES.yml
Labels: none

New translations en-US.yml (Bulgarian)
  resources/lang/bg-BG.yml
Labels: none

New translations en-US.yml (Czech)
  resources/lang/cs-CZ.yml
Labels: none

New translations en-US.yml (Danish)
  resources/lang/da-DK.yml
Labels: none

New translations en-US.yml (German)
  resources/lang/de-DE.yml
Labels: none

New translations en-US.yml (Hebrew)
  resources/lang/he-IL.yml
Labels: none

New translations en-US.yml (Japanese)
  resources/lang/ja-JP.yml
Labels: none

New translations en-US.yml (Korean)
  resources/lang/ko-KR.yml
Labels: none

New translations en-US.yml (Dutch)
  resources/lang/nl-NL.yml
Labels: none

New translations en-US.yml (Norwegian)
  resources/lang/no-NO.yml
Labels: none

New translations en-US.yml (Polish)
  resources/lang/pl-PL.yml
Labels: none

New translations en-US.yml (Portuguese)
  resources/lang/pt-PT.yml
Labels: none

New translations en-US.yml (Swedish)
  resources/lang/sv-SE.yml
Labels: none

New translations en-US.yml (Ukrainian)
  resources/lang/uk-UA.yml
Labels: none

New translations en-US.yml (Chinese Simplified)
  resources/lang/zh-CN.yml
Labels: none

New translations en-US.yml (Chinese Traditional)
  resources/lang/zh-TW.yml
Labels: none

New translations en-US.yml (Vietnamese)
  resources/lang/vi-VN.yml
Labels: none
