Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*

Deprecate redundant WorldCoord#getTownyWorldOrNull method
  src/com/palmergames/bukkit/towny/ChunkNotification.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/event/asciimap/WildernessMapEvent.java
  src/com/palmergames/bukkit/towny/huds/MapHUD.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
Labels: Label-Command

- Lookup towny worlds via uuid, courtesy of Warriorrrr with PR #6375. - Deprecate redundant WorldCoord#getTownyWorldOrNull method, courtesy of Warriorrrr with PR #6376.
  resources/ChangeLog.txt
Labels: none

New translations en-US.yml (Portuguese)
  resources/lang/pt-PT.yml
Labels: none

- Fix /tw toggle for console helpmenu display wrong args order.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
Labels: Label-Command

Temporarily use name for world lookups again
  src/com/palmergames/bukkit/towny/TownyAPI.java
Labels: Label-API

- Temporarily use name for world lookups again, courtesy of Warriorrrr with PR #6378. - Patchs issue present in 0.98.4.9.
  resources/ChangeLog.txt
Labels: none

Create publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Update publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Update publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Update publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Update publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Update publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Update publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Update publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Update publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Update publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Update publish_to_glare_repo.yml
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

New translations en-US.yml (Turkish)
  resources/lang/tr-TR.yml
Labels: none

Support for y less than 0 for revert-on-unclaim.
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/regen/PlotBlockData.java
  src/com/palmergames/util/FileMgmt.java
Labels: Label-Data

- Support for y less than 0 for revert-on-unclaim.
  resources/ChangeLog.txt
Labels: none

Bump version number.
  pom.xml
  resources/ChangeLog.txt
Labels: none

New Crowdin updates (#6374)
  resources/lang/pt-PT.yml
  resources/lang/tr-TR.yml
Labels: none

Fix typo in workflow
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

New translations en-US.yml (Turkish)
  resources/lang/tr-TR.yml
Labels: none

Change types
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Bump version number.
  pom.xml
  resources/ChangeLog.txt
Labels: none

- Deprecate old TownComparators class.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/object/TownComparators.java
Labels: none

Make bossbar chunk notifications configurable
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: none

Load chunk async for protection regen task
  src/com/palmergames/bukkit/towny/tasks/ProtectionRegenTask.java
Labels: none

Don't schedule unnecesary task in non-paper envs
  src/com/palmergames/bukkit/towny/tasks/ProtectionRegenTask.java
Labels: none

Update ConfigNodes.java
  src/com/palmergames/bukkit/config/ConfigNodes.java
Labels: none

- Add DRAGON_EGG to revert-on-unclaim block ignore. - Automatic Config Edit: - Add DRAGON_EGG to revert-on-unclaim block ignore. - Will automatically update each world as well. - Supercedes #6386.
  resources/ChangeLog.txt
  resources/config-migration.json
  src/com/palmergames/bukkit/config/ConfigNodes.java
Labels: none

Load chunk async for protection regen task (#6385)
  src/com/palmergames/bukkit/towny/tasks/ProtectionRegenTask.java
Labels: none

Fix workflow?
  .github/workflows/publish_to_glare_repo.yml
Labels: Label-CI/CD

Outsiders can prevent unclaiming.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: none

Correct permission nodes.
  resources/ChangeLog.txt
  resources/plugin.yml
Labels: none

bypasspublic town spawn nodes (#6387)
  pom.xml
  resources/ChangeLog.txt
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: none

New translations en-US.yml (Italian)
  resources/lang/it-IT.yml
Labels: none

New translations en-US.yml (Turkish)
  resources/lang/tr-TR.yml
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none
