Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*

- Fix backups for windows regression in 0.98.6.13, courtesy of Warriorrrr with PR #6552.
  pom.xml
  resources/ChangeLog.txt
Labels: none

- Fix NPE with /plot fs.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: Label-Command

- Fix potential NPE with /towny map.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
Labels: none

- Make TownyWorld#getBukkitWorld more resilient.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
Labels: none

- Fix for using invalid plot commands in the wilderness, plot fs.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: Label-Command

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

Start
  src/com/palmergames/bukkit/towny/listeners/TownyVehicleListener.java
Labels: none

Seperate changelog reading into it's own class
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/object/ChangelogResult.java
  src/com/palmergames/bukkit/towny/utils/ChangelogReader.java
  src/com/palmergames/util/JavaUtil.java
Labels: none

Accept a stream instead of a path
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/utils/ChangelogReader.java
  src/com/palmergames/util/JavaUtil.java
Labels: none

Fix readResource returning a closed stream
  src/com/palmergames/util/JavaUtil.java
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

Fix invite objects holding a reference to command senders
  src/com/palmergames/bukkit/towny/command/InviteCommand.java
  src/com/palmergames/bukkit/towny/invites/Invite.java
  src/com/palmergames/bukkit/towny/object/inviteobjects/AbstractInvite.java
Labels: Label-Command

Slightly improve mapToFile
  src/com/palmergames/bukkit/towny/db/FlatFileSaveTask.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/util/FileMgmt.java
Labels: Label-Data

Fix some Translatable.toString issues
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/object/Translatable.java
  src/com/palmergames/bukkit/towny/utils/MoneyUtil.java
Labels: Label-Command, Label-Languages

Undeprecate ConfirmationBuilder#setTitle(String)
  src/com/palmergames/bukkit/towny/confirmations/ConfirmationBuilder.java
Labels: none

Add LiteralTranslatable
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/object/Translatable.java
  src/com/palmergames/bukkit/towny/utils/MoneyUtil.java
Labels: Label-Command, Label-TownyAdmin, Label-Languages

- Add message showing what is required to be paid when someone cannot pay after a confirmation. - Closes #6560.
  pom.xml
  resources/ChangeLog.txt
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/confirmations/ConfirmationHandler.java
Labels: none

Remove unnecessary 2nd cost check.
  src/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: none

Change .equals impl to use name/uuid
  src/com/palmergames/bukkit/towny/object/inviteobjects/AbstractInvite.java
Labels: none

Improve plot is locked message.
  resources/lang/en-US.yml
Labels: none

Fix some Translatable.toString issues (#6111)
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/confirmations/ConfirmationBuilder.java
  src/com/palmergames/bukkit/towny/object/Translatable.java
  src/com/palmergames/bukkit/towny/utils/MoneyUtil.java
Labels: Label-Command, Label-TownyAdmin, Label-Languages

Fix yaml.
  resources/lang/en-US.yml
Labels: none

Seperate changelog reading into its own class (#6558)
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/object/ChangelogResult.java
  src/com/palmergames/bukkit/towny/utils/ChangelogReader.java
  src/com/palmergames/util/JavaUtil.java
Labels: none

Fix invite objects holding a reference to command senders (#6559)
  src/com/palmergames/bukkit/towny/command/InviteCommand.java
  src/com/palmergames/bukkit/towny/invites/Invite.java
  src/com/palmergames/bukkit/towny/object/inviteobjects/AbstractInvite.java
Labels: Label-Command

New translations en-US.yml (Bulgarian)
  resources/lang/bg-BG.yml
Labels: none

New translations en-US.yml (Dutch)
  resources/lang/nl-NL.yml
Labels: none

New translations en-US.yml (Spanish, Chile)
  resources/lang/es-CL.yml
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (Romanian)
  resources/lang/ro-RO.yml
Labels: none

New translations en-US.yml (Spanish)
  resources/lang/es-ES.yml
Labels: none

New translations en-US.yml (Czech)
  resources/lang/cs-CZ.yml
Labels: none

New translations en-US.yml (Danish)
  resources/lang/da-DK.yml
Labels: none

New translations en-US.yml (German)
  resources/lang/de-DE.yml
Labels: none

New translations en-US.yml (Hebrew)
  resources/lang/he-IL.yml
Labels: none

New translations en-US.yml (Italian)
  resources/lang/it-IT.yml
Labels: none

New translations en-US.yml (Japanese)
  resources/lang/ja-JP.yml
Labels: none

New translations en-US.yml (Korean)
  resources/lang/ko-KR.yml
Labels: none

New translations en-US.yml (Norwegian)
  resources/lang/no-NO.yml
Labels: none

New translations en-US.yml (Polish)
  resources/lang/pl-PL.yml
Labels: none

New translations en-US.yml (Portuguese)
  resources/lang/pt-PT.yml
Labels: none
