Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

New translations en-US.yml (Indonesian)
  resources/lang/id-ID.yml
Labels: none

New translations en-US.yml (Spanish, Argentina)
  resources/lang/es-AR.yml
Labels: none

New translations en-US.yml (Spanish, Mexico)
  resources/lang/es-MX.yml
Labels: none

New translations en-US.yml (Spanish, Uruguay)
  resources/lang/es-UY.yml
Labels: none

New translations en-US.yml (Spanish, Venezuela)
  resources/lang/es-VE.yml
Labels: none

New translations en-US.yml (Spanish, Ecuador)
  resources/lang/es-EC.yml
Labels: none

New translations en-US.yml (Thai)
  resources/lang/th-TH.yml
Labels: none

New translations en-US.yml (Azerbaijani)
  resources/lang/az-AZ.yml
Labels: none

New translations en-US.yml (English, United Kingdom)
  resources/lang/en-GB.yml
Labels: none

New translations en-US.yml (Tagalog)
  resources/lang/tl-PH.yml
Labels: none

New translations en-US.yml (Pirate English)
  resources/lang/en-PT.yml
Labels: none

New translations en-US.yml (Serbian (Latin))
  resources/lang/sr-CS.yml
Labels: none

New translations en-US.yml (English (upside down))
  resources/lang/en-UD.yml
Labels: none

New translations en-US.yml (LOLCAT)
  resources/lang/lol-US.yml
Labels: none

- Fix potential NPE in InviteHandler.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/invites/InviteHandler.java
Labels: none

- Fix incorrect TownBlockType being set in the PlayerChangePlotEvent.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: Label-Command

- Fix TownUnconquerEvent being able to be thrown async.
  src/com/palmergames/bukkit/towny/event/town/TownUnconquerEvent.java
Labels: none

- Fix town#setConquered(boolean, boolean).
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Towns

Update changelog.
  resources/ChangeLog.txt
Labels: none

- API: improve TownPreUnclaimCmdEvent with the addition of a List<WorldCoord> which is going to be unclaimed. - TownPreUnclaimCmdEvent#getUnclaimSelection.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/event/town/TownPreUnclaimCmdEvent.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: Label-Command

New Crowdin updates (#6575)
  resources/lang/az-AZ.yml
  resources/lang/bg-BG.yml
  resources/lang/cs-CZ.yml
  resources/lang/da-DK.yml
  resources/lang/de-DE.yml
  resources/lang/en-GB.yml
  resources/lang/en-PT.yml
  resources/lang/en-UD.yml
  resources/lang/es-AR.yml
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-MX.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/id-ID.yml
  resources/lang/it-IT.yml
  resources/lang/ja-JP.yml
  resources/lang/ko-KR.yml
  resources/lang/lol-US.yml
  resources/lang/nl-NL.yml
  resources/lang/no-NO.yml
  resources/lang/pl-PL.yml
  resources/lang/pt-BR.yml
  resources/lang/pt-PT.yml
  resources/lang/ro-RO.yml
  resources/lang/ru-RU.yml
  resources/lang/sq-AL.yml
  resources/lang/sr-CS.yml
  resources/lang/sv-SE.yml
  resources/lang/th-TH.yml
  resources/lang/tl-PH.yml
  resources/lang/tr-TR.yml
  resources/lang/uk-UA.yml
  resources/lang/vi-VN.yml
  resources/lang/zh-CN.yml
  resources/lang/zh-TW.yml
Labels: none

- Fix bed crop dupe found in Spigot or MC.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: none

Fix 1.16.5 incompatability
  src/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: none

- Fix 1.16.5 incompatibility, courtesy of Warriorrrr with PR #6581.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Protect signs from being edited
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/utils/MinecraftVersion.java
Labels: none

Use destroy test
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: none

Protect signs from being edited (#6583)
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/utils/MinecraftVersion.java
Labels: none

- Protect signs from being edited, courtesy of Warriorrrr with PR #6583. - Waxing is treated as item_use, editing signs is treated as a destroy test.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Add jitpack as plugin repo
  pom.xml
Labels: none

Test out bridger
  pom.xml
  src/com/palmergames/bukkit/towny/object/CellBorder.java
  src/com/palmergames/bukkit/util/DrawUtil.java
Labels: none

Remove unneeded execution block
  pom.xml
Labels: none

- Fix abililty to claim a fifth townblock after a town has claimed a 2x2 square and min_adjacent_blocks is set to 3.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

New translations en-US.yml (Chinese Simplified)
  resources/lang/zh-CN.yml
Labels: none

New translations en-US.yml (Indonesian)
  resources/lang/id-ID.yml
Labels: none

- Fix reversed test in CombatUtil#isEnemyTownBlock(Resident, WorldCoord).
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
Labels: none

New translations en-US.yml (Spanish, Mexico)
  resources/lang/es-MX.yml
Labels: none

New translations en-US.yml (Spanish, Mexico)
  resources/lang/es-MX.yml
Labels: none

New translations en-US.yml (Turkish)
  resources/lang/tr-TR.yml
Labels: none

New Crowdin updates (#6585)
  resources/lang/es-MX.yml
  resources/lang/id-ID.yml
  resources/lang/tr-TR.yml
  resources/lang/zh-CN.yml
Labels: none

- Bump commons-compress from 1.22 to 1.23.0. - Bump placeholderapi from 2.11.2 to 2.11.3.
  resources/ChangeLog.txt
Labels: none

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*
