Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

New translations en-US.yml (Tagalog)
  resources/lang/tl-PH.yml
Labels: none

New translations en-US.yml (Serbian (Latin))
  resources/lang/sr-CS.yml
Labels: none

New Crowdin updates (#6393)
  resources/lang/az-AZ.yml
  resources/lang/bg-BG.yml
  resources/lang/cs-CZ.yml
  resources/lang/da-DK.yml
  resources/lang/de-DE.yml
  resources/lang/en-GB.yml
  resources/lang/es-AR.yml
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-MX.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/id-ID.yml
  resources/lang/it-IT.yml
  resources/lang/ja-JP.yml
  resources/lang/ko-KR.yml
  resources/lang/nl-NL.yml
  resources/lang/no-NO.yml
  resources/lang/pl-PL.yml
  resources/lang/pt-BR.yml
  resources/lang/pt-PT.yml
  resources/lang/ro-RO.yml
  resources/lang/ru-RU.yml
  resources/lang/sr-CS.yml
  resources/lang/sv-SE.yml
  resources/lang/th-TH.yml
  resources/lang/tl-PH.yml
  resources/lang/tr-TR.yml
  resources/lang/uk-UA.yml
  resources/lang/vi-VN.yml
  resources/lang/zh-CN.yml
  resources/lang/zh-TW.yml
Labels: none

- API: add StatusScreen#getComponentKeys - When a plugin wants to know the keys that back the StatusScreen#getComponents collection.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/object/statusscreens/StatusScreen.java
Labels: none

- Fix nation-less towns rendering town-entered title messages poorly.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: none

nuke essentials instance usages from supportutil
  src/com/palmergames/bukkit/towny/Towny.java
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (Chinese Traditional)
  resources/lang/zh-TW.yml
Labels: none

required changes and more
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/util/PluginSupportUtil.java
Labels: none

move plugin hooks up
  src/com/palmergames/bukkit/towny/Towny.java
Labels: none

New translations en-US.yml (Spanish, Chile)
  resources/lang/es-CL.yml
Labels: none

API: Update Economy-related events. (#6373)
  src/com/palmergames/bukkit/towny/TownyEconomyHandler.java
  src/com/palmergames/bukkit/towny/event/NationPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/NationTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownyPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/BankTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/NationPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/NationTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/TownPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/TownTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/TownyPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/economy/TownyTransactionEvent.java
  src/com/palmergames/bukkit/towny/utils/MoneyUtil.java
Labels: Label-Money, Label-Events

New Crowdin updates (#6394)
  resources/lang/es-CL.yml
  resources/lang/fr-FR.yml
  resources/lang/zh-TW.yml
Labels: none

- API: Update Economy-related events. - Old events that are deprecated are no longer called. - New events use the same methods, with better javadocs, and exist in the economy package.
  resources/ChangeLog.txt
Labels: none

Use bukkit warning annotation for our deprecated events
  src/com/palmergames/bukkit/towny/event/BankTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/NationPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/NationTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/PlayerEnterTownEvent.java
  src/com/palmergames/bukkit/towny/event/PlayerLeaveTownEvent.java
  src/com/palmergames/bukkit/towny/event/PlotChangeOwnerEvent.java
  src/com/palmergames/bukkit/towny/event/TownPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownyPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownyTransactionEvent.java
Labels: Label-Events

- Use bukkit warning annotation for our deprecated events, courtesy of Warriorrrr with PR #6396.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Add min distance options for new towns
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

Ignore end portal respawns
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: none

Apply suggestions from code review
  src/com/palmergames/bukkit/config/ConfigNodes.java
Labels: none

Add min distance options for new towns (#6398)
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

- Ignore end portal respawns, courtesy of Warriorrrr with PR #6399. - Add min distance options for new towns, courtesy of Warriorrrr with PR #6398. - Closes #4829.
  resources/ChangeLog.txt
Labels: none

- Automatic Config Edit: - Add CYRING_OBSIDIAN to revert-on-unclaim block ignore. - Will automatically update each world as well.
  resources/ChangeLog.txt
  resources/config-migration.json
  src/com/palmergames/bukkit/config/ConfigNodes.java
Labels: none

Bump version number and fix typo in changelog.
  pom.xml
  resources/ChangeLog.txt
Labels: none

- Handle null mayors in Town#getFounder().
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Towns

New translations en-US.yml (Spanish)
  resources/lang/es-ES.yml
Labels: none

- New Permission Node: towny.nationless - Given out to all players who have no nation.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/permissions/TownyPerms.java
Labels: none

- Handle 2nd case where the towny.nationless node should be given.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/permissions/TownyPerms.java
Labels: none

- Move PermissionEventEnums into GroupManagerSource.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/permissions/GroupManagerSource.java
  src/com/palmergames/bukkit/towny/permissions/PermissionEventEnums.java
Labels: none

- New Command: /ta set founder [townname] [foundername] - Used by admins to set a founder for a town. - Requires towny.command.townyadmin.set.founder. - Closes #6407.
  resources/ChangeLog.txt
  resources/lang/en-US.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: Label-Command, Label-TownyAdmin

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (Romanian)
  resources/lang/ro-RO.yml
Labels: none

New translations en-US.yml (Spanish)
  resources/lang/es-ES.yml
Labels: none

New translations en-US.yml (Bulgarian)
  resources/lang/bg-BG.yml
Labels: none

New translations en-US.yml (Czech)
  resources/lang/cs-CZ.yml
Labels: none

New translations en-US.yml (Danish)
  resources/lang/da-DK.yml
Labels: none

New translations en-US.yml (Italian)
  resources/lang/it-IT.yml
Labels: none

New translations en-US.yml (Turkish)
  resources/lang/tr-TR.yml
Labels: none

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

New translations en-US.yml (Azerbaijani)
  resources/lang/az-AZ.yml
Labels: none

New translations en-US.yml (English, United Kingdom)
  resources/lang/en-GB.yml
Labels: none

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*
