Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*

New translations en-US.yml (Spanish, Ecuador)
  resources/lang/es-EC.yml
Labels: none

New translations en-US.yml (Thai)
  resources/lang/th-TH.yml
Labels: none

New translations en-US.yml (Azerbaijani)
  resources/lang/az-AZ.yml
Labels: none

New translations en-US.yml (English, United Kingdom)
  resources/lang/en-GB.yml
Labels: none

New translations en-US.yml (Tagalog)
  resources/lang/tl-PH.yml
Labels: none

New translations en-US.yml (Pirate English)
  resources/lang/en-PT.yml
Labels: none

New translations en-US.yml (Serbian (Latin))
  resources/lang/sr-CS.yml
Labels: none

New translations en-US.yml (English (upside down))
  resources/lang/en-UD.yml
Labels: none

New translations en-US.yml (LOLCAT)
  resources/lang/lol-US.yml
Labels: none

New Crowdin updates (#6613)
  resources/lang/az-AZ.yml
  resources/lang/bg-BG.yml
  resources/lang/cs-CZ.yml
  resources/lang/da-DK.yml
  resources/lang/de-DE.yml
  resources/lang/en-GB.yml
  resources/lang/en-PT.yml
  resources/lang/en-UD.yml
  resources/lang/es-AR.yml
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-MX.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/id-ID.yml
  resources/lang/it-IT.yml
  resources/lang/ja-JP.yml
  resources/lang/ko-KR.yml
  resources/lang/lol-US.yml
  resources/lang/nl-NL.yml
  resources/lang/no-NO.yml
  resources/lang/pl-PL.yml
  resources/lang/pt-BR.yml
  resources/lang/pt-PT.yml
  resources/lang/ro-RO.yml
  resources/lang/ru-RU.yml
  resources/lang/sq-AL.yml
  resources/lang/sr-CS.yml
  resources/lang/sv-SE.yml
  resources/lang/th-TH.yml
  resources/lang/tl-PH.yml
  resources/lang/tr-TR.yml
  resources/lang/uk-UA.yml
  resources/lang/vi-VN.yml
  resources/lang/zh-CN.yml
  resources/lang/zh-TW.yml
Labels: none

Fix NPE when finding a new mayor
  src/com/palmergames/bukkit/towny/event/town/TownMayorChosenBySuccessionEvent.java
Labels: none

- Fix NPE when finding a new mayor, courtesy of Warriorrrr with PR #6616. - Closes #6615. - Fix missing feedback messages when towns that cannot join your nation are being invited. - Closes #6614.
  pom.xml
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: Label-Command

Update sponsortable.py
  .github/workflows/prerelease/sponsortable.py
Labels: none

Add a migration for adding an old town level
  resources/config-migration.json
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
Labels: none

A better fix for migrator input stream possibly being null
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
Labels: none

Add a migration for adding an old town level (#6618)
  resources/config-migration.json
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
Labels: none

- Add a migration for adding an old town level, courtesy of Warriorrrr with PR #6618. - Servers that still use Towny 0.95.1.0 (and potentially older) can now update as easily as drag-and-drop.
  resources/ChangeLog.txt
Labels: none

New translations en-US.yml (Ukrainian)
  resources/lang/uk-UA.yml
Labels: none

Readd sql_schema class.
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
Labels: Label-Data

Re-delete sql_schema class.
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
Labels: Label-Data

Update sql schema class to be more modern (#6623)
  src/com/palmergames/bukkit/towny/db/SQLSchema.java
  src/com/palmergames/bukkit/towny/db/SQLTask.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

- Update sql schema class to be more modern with much cleaner code, in prep for the transition to a UUID-keyed database.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

- Bump adventure-text-serializer-plain from 4.13.0 to 4.13.1.
  resources/ChangeLog.txt
Labels: none

- New Command: /ta town toggle conquered - Removes the conquered status of a town.
  pom.xml
  resources/ChangeLog.txt
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

New translations en-US.yml (Bulgarian)
  resources/lang/bg-BG.yml
Labels: none

New translations en-US.yml (Dutch)
  resources/lang/nl-NL.yml
Labels: none

New translations en-US.yml (Spanish, Chile)
  resources/lang/es-CL.yml
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (Romanian)
  resources/lang/ro-RO.yml
Labels: none

New translations en-US.yml (Spanish)
  resources/lang/es-ES.yml
Labels: none

New translations en-US.yml (Czech)
  resources/lang/cs-CZ.yml
Labels: none

New translations en-US.yml (Danish)
  resources/lang/da-DK.yml
Labels: none

New translations en-US.yml (German)
  resources/lang/de-DE.yml
Labels: none

New translations en-US.yml (Hebrew)
  resources/lang/he-IL.yml
Labels: none

New translations en-US.yml (Italian)
  resources/lang/it-IT.yml
Labels: none

New translations en-US.yml (Japanese)
  resources/lang/ja-JP.yml
Labels: none

New translations en-US.yml (Korean)
  resources/lang/ko-KR.yml
Labels: none

New translations en-US.yml (Norwegian)
  resources/lang/no-NO.yml
Labels: none

New translations en-US.yml (Polish)
  resources/lang/pl-PL.yml
Labels: none

New translations en-US.yml (Portuguese)
  resources/lang/pt-PT.yml
Labels: none
