Repository TownyAdvanced/Towny, changes with the labels that .github/labeler.yml gives for each.
All labels: Label-War, Label-Command, Label-Data, Label-Config, Label-Money, Label-Events, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock, Label-TownyAdmin, Label-API, Label-Languages, Label-CI/CD

.github/labeler.yml:

Label-War:
    - src/com/palmergames/bukkit/towny/war/*

Label-Command:
    - src/com/palmergames/bukkit/towny/command/*

Label-Data:
    - src/com/palmergames/bukkit/towny/db/*

Label-Config:
    - src/com/palmergames/bukkit/towny/config/*

Label-Money:
    - src/com/palmergames/bukkit/towny/object/EconomyAccount.java
    - src/com/palmergames/bukkit/towny/object/EconomyHandler.java
    - src/com/palmergames/bukkit/towny/object/economy/*
    - src/com/palmergames/bukkit/towny/TownyEconomyHandler.java

Label-Events:
    - src/com/palmergames/bukkit/towny/event/*

Label-Towns:
    - src/com/palmergames/bukkit/towny/object/Town.java

Label-Nations:
    - src/com/palmergames/bukkit/towny/object/Nation.java

Label-Resident:
    - src/com/palmergames/bukkit/towny/object/Resident.java

Label-TownBlock:
    - src/com/palmergames/bukkit/towny/object/TownBlock.java

Label-TownyAdmin:
    - src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java

Label-API:
    - src/com/palmergames/bukkit/towny/TownyAPI.java

Label-Languages:
    - src/com/palmergames/bukkit/towny/object/Translatable.java
    - src/com/palmergames/bukkit/towny/object/Translator.java
    - src/com/palmergames/bukkit/towny/object/Translation.java

Label-CI/CD:
    - .github/workflows/*

Fix paintings and item frames being unbreakable.
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: none

- Fix paintings and item frames being unbreakable, courtesy of Stealth2800 with PR #6427. - Closes #6425.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Update version number for release.
  README.md
  pom.xml
  resources/ChangeLog.txt
Labels: none

Replace github packages for glare's repo.
  pom.xml
Labels: none

Add a 30 second timeout for backup future
  src/com/palmergames/bukkit/towny/TownyUniverse.java
Labels: none

Worlds with no uuid bandaid
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
Labels: none

Load worlds with uuid if present in sql source
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

Restore get world by uuid behaviour
  src/com/palmergames/bukkit/towny/TownyAPI.java
Labels: Label-API

Load & save worlds with uuids
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
Labels: Label-Data

- Add a 30 second timeout for backup future, courtesy of Warriorrrr with PR #6428.
  pom.xml
  resources/ChangeLog.txt
Labels: none

Squashed Commits from last year. I don't want to rebase these separately again.
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/db/DatabaseConfig.java
  src/com/palmergames/bukkit/towny/db/FlatFileSaveTask.java
  src/com/palmergames/bukkit/towny/db/ObjectLoadUtil.java
  src/com/palmergames/bukkit/towny/db/ObjectSaveUtil.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownyLegacyFlatFileConverter.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/exceptions/ObjectCouldNotBeLoadedException.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
  src/com/palmergames/bukkit/towny/utils/ResidentUtil.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
  src/com/palmergames/util/FileMgmt.java
Labels: Label-Command, Label-Data, Label-Towns, Label-Nations, Label-Resident, Label-TownBlock

Minor: Better variable names, formatting.
  src/com/palmergames/bukkit/towny/db/TownyLegacyFlatFileConverter.java
Labels: Label-Data

HashMap -> Map
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/db/FlatFileSaveTask.java
  src/com/palmergames/bukkit/towny/db/ObjectLoadUtil.java
  src/com/palmergames/bukkit/towny/db/ObjectSaveUtil.java
  src/com/palmergames/bukkit/towny/db/SQL_Task.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownyLegacyFlatFileConverter.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/util/FileMgmt.java
Labels: Label-Data

- Fix missing spaces in the /{object} set perm command feedback.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

- Fix missing feedback when /ta plot is used with an incorrect subcommand.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

New translations en-US.yml (Italian)
  resources/lang/it-IT.yml
Labels: none

New translations en-US.yml (Italian)
  resources/lang/it-IT.yml
Labels: none

- Fix /t unjail tabcompleter not including non-residents which are jailed in the town.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (Hebrew)
  resources/lang/he-IL.yml
Labels: none

Make area selection tool able to handle already claimed plots.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: Label-Command

Re-add support for "auto" subcommands.
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: none

Add feedback message to /t unclaim all
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: none

Config and API options for handling unjailed player teleports.
  resources/ChangeLog.txt
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/event/teleport/UnjailedResidentTeleportEvent.java
  src/com/palmergames/bukkit/towny/utils/JailUtil.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: none

Mention cancelling in changelog.
  resources/ChangeLog.txt
Labels: none

Undo changes to Changelog.
  resources/ChangeLog.txt
Labels: none

Correct CompletableFuture application thanks to Warrior.
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: none

Make area selection tool able to handle already claimed plots. (#6436)
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: Label-Command

Config and API options for handling unjailed player teleports. (#6438)
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/event/teleport/UnjailedResidentTeleportEvent.java
  src/com/palmergames/bukkit/towny/utils/JailUtil.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: none

New Crowdin updates (#6433)
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/it-IT.yml
Labels: none

New translations en-US.yml (Italian)
  resources/lang/it-IT.yml
Labels: none

New translations en-US.yml (Turkish)
  resources/lang/tr-TR.yml
Labels: none

New translations en-US.yml (French)
  resources/lang/fr-FR.yml
Labels: none

New translations en-US.yml (Russian)
  resources/lang/ru-RU.yml
Labels: none

New translations en-US.yml (Azerbaijani)
  resources/lang/az-AZ.yml
Labels: none

New translations en-US.yml (English, United Kingdom)
  resources/lang/en-GB.yml
Labels: none

New translations en-US.yml (Romanian)
  resources/lang/ro-RO.yml
Labels: none

New translations en-US.yml (Spanish)
  resources/lang/es-ES.yml
Labels: none

New translations en-US.yml (Bulgarian)
  resources/lang/bg-BG.yml
Labels: none

New translations en-US.yml (Czech)
  resources/lang/cs-CZ.yml
Labels: none
