Repository TownyAdvanced/Towny, pull requests merged in 2020-03, with the labels that each got.

#3744 Hotfix: Fix Flagwar townblock town transfer.
  src/com/palmergames/bukkit/towny/war/flagwar/listeners/TownyWarCustomListener.java
Labels: FlagWar

#3738 Marks PR's and issues as "Stale" and add PR auto labeler
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: github

#3750 Fix plot toggle tab-completion and remove unused code.
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: commands

#3757 Fix townyworld set messages for console not being used.
  src/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
Labels: commands

#3756 Remove redundant arraylist creation for tab-completion.
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/InviteCommand.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
Labels: commands

#3755 HotFix: Fix Ally invite sending to already allied nations.
  .github/workflows/label.yml
  resources/chinese.yml
  resources/english.yml
  resources/es-mx.yml
  resources/french.yml
  resources/german.yml
  resources/italian.yml
  resources/korean.yml
  resources/norwegian.yml
  resources/pt-br.yml
  resources/russian.yml
  resources/spanish.yml
  resources/zh-TW.yml
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/object/Nation.java
Labels: commands, towny-objects
