Repository TownyAdvanced/Towny, pull requests merged in 2020-11, with the labels that each got.

#4411 Fix Javadoc Errors (Again...)
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
  src/com/palmergames/bukkit/towny/object/metadata/CustomDataField.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/utils/NameUtil.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  src/com/palmergames/bukkit/towny/utils/ResidentUtil.java
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: Label-API, Label-CI/CD

#4432 Fixed some typos in English language file
  resources/english.yml
Labels: Label-Languages

#4455 Add Townblock To New Events
  src/com/palmergames/bukkit/towny/event/actions/TownyActionEvent.java
  src/com/palmergames/bukkit/towny/event/actions/TownyBuildEvent.java
  src/com/palmergames/bukkit/towny/event/actions/TownyDestroyEvent.java
  src/com/palmergames/bukkit/towny/event/actions/TownyExplosionDamagesEntityEvent.java
  src/com/palmergames/bukkit/towny/event/actions/TownyItemuseEvent.java
  src/com/palmergames/bukkit/towny/event/actions/TownySwitchEvent.java
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
  src/com/palmergames/bukkit/towny/war/common/WarZoneListener.java
Labels: Label-API

#4472 SiegeWar Permission fix up
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
  src/com/palmergames/bukkit/towny/utils/TownPeacefulnessUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarDeathController.java
  src/com/palmergames/bukkit/towny/war/siegewar/enums/SiegeWarPermissionNodes.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/AbandonAttack.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/AttackTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/InvadeTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/PlunderTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/SurrenderTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarBannerControlUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarBattleSessionUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarPermissionUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarPointsUtil.java
Labels: Label-Siege War

#4473 Siegewar/dev/listener and events
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/object/Coord.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/inviteobjects/TownJoinNationInvite.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarBreakBlockController.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarItemUseController.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarPlaceBlockController.java
  src/com/palmergames/bukkit/towny/war/siegewar/listeners/SiegeWarActionListener.java
  src/com/palmergames/bukkit/towny/war/siegewar/listeners/SiegeWarEventListener.java
  src/com/palmergames/bukkit/towny/war/siegewar/objects/SiegeDistance.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/AttackTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarBlockUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarDistanceUtil.java
Labels: Label-Siege War

#4490 Siegewar/dev/siegewarsettings
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/HourlyTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/ShortTimerTask.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
  src/com/palmergames/bukkit/towny/utils/TownPeacefulnessUtil.java
  src/com/palmergames/bukkit/towny/war/common/townruin/TownRuinUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarDeathController.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarPlaceBlockController.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarSettings.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarTimerTaskController.java
  src/com/palmergames/bukkit/towny/war/siegewar/listeners/SiegeWarActionListener.java
  src/com/palmergames/bukkit/towny/war/siegewar/listeners/SiegeWarEventListener.java
  src/com/palmergames/bukkit/towny/war/siegewar/objects/Siege.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/AttackTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/PlunderTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarBannerControlUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarBattleSessionUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarClaimUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarDistanceUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarDynmapUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarMoneyUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarPointsUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarTimeUtil.java
Labels: Label-Siege War

#4493 Hotfix: Prevent admins from Soft-Locking Towny by force-joining outlaws.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Jail, Label-TownyAdmin, enhancement

#4485 Extract SiegeWar code from TownyFormatter
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarFormatter.java
Labels: Label-Siege War

#4496 Ensure Objects are properly assigned, closed, and compared to improve safety and accuracy.
  src/com/palmergames/bukkit/metrics/Metrics.java
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityMonitorListener.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
  src/com/palmergames/bukkit/towny/object/economy/adapter/ReserveEconomyAdapter.java
  src/com/palmergames/bukkit/towny/permissions/GroupManagerSource.java
  src/com/palmergames/bukkit/towny/permissions/VaultPermSource.java
  src/com/palmergames/bukkit/util/Colors.java
  src/com/palmergames/util/MemMgmt.java
  src/com/palmergames/util/TimeTools.java
Labels: refactor
