Repository TownyAdvanced/Towny, pull requests merged in 2020-04, with the labels that each got.

#3838 Branch will remove TownBlockLists saving/loading, remove TownBlocks from TownyWorld, add TownBlocks to Town and TownyUniverse.
  src/com/palmergames/bukkit/towny/ChunkNotification.java
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityMonitorListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/HealthRegenTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
  src/com/palmergames/util/FileMgmt.java
Labels: Label-Data

#3860 add separate tax limits for towns, nations and townblocks
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Config, Label-Money

#3875 Branch adds spawn warmup cancellation when players move.
  resources/chinese.yml
  resources/english.yml
  resources/es-mx.yml
  resources/french.yml
  resources/german.yml
  resources/italian.yml
  resources/korean.yml
  resources/norwegian.yml
  resources/polish.yml
  resources/pt-br.yml
  resources/russian.yml
  resources/spanish.yml
  resources/zh-TW.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/event/NationBonusCalculationEvent.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/tasks/TeleportWarmupTimerTask.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: Label-Spawning/Teleporting
