Repository TownyAdvanced/Towny, pull requests merged in 2020-12, with the labels that each got.

#4517 Api/generic toggle events
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/event/nation/toggle/NationToggleEvent.java
  src/com/palmergames/bukkit/towny/event/nation/toggle/NationToggleNeutralEvent.java
  src/com/palmergames/bukkit/towny/event/nation/toggle/NationToggleOpenEvent.java
  src/com/palmergames/bukkit/towny/event/nation/toggle/NationTogglePublicEvent.java
  src/com/palmergames/bukkit/towny/event/nation/toggle/NationToggleUnknownEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownReclaimedEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownRuinedEvent.java
  src/com/palmergames/bukkit/towny/event/town/toggle/TownToggleEvent.java
  src/com/palmergames/bukkit/towny/event/town/toggle/TownToggleExplosionEvent.java
  src/com/palmergames/bukkit/towny/event/town/toggle/TownToggleFireEvent.java
  src/com/palmergames/bukkit/towny/event/town/toggle/TownToggleMobsEvent.java
  src/com/palmergames/bukkit/towny/event/town/toggle/TownToggleOpenEvent.java
  src/com/palmergames/bukkit/towny/event/town/toggle/TownTogglePVPEvent.java
  src/com/palmergames/bukkit/towny/event/town/toggle/TownTogglePublicEvent.java
  src/com/palmergames/bukkit/towny/event/town/toggle/TownToggleTaxPercentEvent.java
  src/com/palmergames/bukkit/towny/event/town/toggle/TownToggleUnknownEvent.java
  src/com/palmergames/bukkit/towny/war/flagwar/listeners/FlagWarCustomListener.java
Labels: Label-API

#4518 Cleanup Town Ruin code - Javadoc and other changes.
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
  src/com/palmergames/bukkit/towny/war/common/townruin/TownRuinSettings.java
  src/com/palmergames/bukkit/towny/war/common/townruin/TownRuinUtil.java
Labels: Label-API, refactor

#4559 Fix null UUID on NationAddTownEvent
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: bug

#4537 Create TownPreUnclaimCmdEvent, Relocate and extend Town(Pre)UnclaimEvents.
  resources/chinese.yml
  resources/english.yml
  resources/es-419.yml
  resources/french.yml
  resources/german.yml
  resources/italian.yml
  resources/korean.yml
  resources/norwegian.yml
  resources/polish.yml
  resources/pt-br.yml
  resources/russian.yml
  resources/spanish.yml
  resources/zh-TW.yml
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/event/TownPreUnclaimEvent.java
  src/com/palmergames/bukkit/towny/event/TownUnclaimEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownPreUnclaimCmdEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownPreUnclaimEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownUnclaimEvent.java
  src/com/palmergames/bukkit/towny/war/flagwar/FlagWar.java
  src/com/palmergames/bukkit/towny/war/flagwar/listeners/FlagWarCustomListener.java
Labels: Flag War, Label-API, enhancement

#4590 Implemented new Plot Events
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/event/plot/PlotNotForSaleEvent.java
  src/com/palmergames/bukkit/towny/event/plot/PlotSetForSaleEvent.java
Labels: Label-API

#4599 Siegewar/block place refactor
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarPlaceBlockController.java
  src/com/palmergames/bukkit/towny/war/siegewar/listeners/SiegeWarActionListener.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/AbandonAttack.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/AttackTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/InvadeTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/PlaceBlock.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/PlunderTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/SurrenderTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarDistanceUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarMoneyUtil.java
  src/com/palmergames/util/TimeTools.java
Labels: Label-Siege War

#4601 Simple bank caching.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
Labels: Label-Money

#4609 Sieges no longer require their own database changes. Use Town metadata.
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarDeathController.java
  src/com/palmergames/bukkit/towny/war/siegewar/SiegeWarTimerTaskController.java
  src/com/palmergames/bukkit/towny/war/siegewar/listeners/SiegeWarEventListener.java
  src/com/palmergames/bukkit/towny/war/siegewar/metadata/MetaDataUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/metadata/SiegeMetaDataController.java
  src/com/palmergames/bukkit/towny/war/siegewar/metadata/TownMetaDataController.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/AbandonAttack.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/AttackTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/InvadeTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/PlunderTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/playeractions/SurrenderTown.java
  src/com/palmergames/bukkit/towny/war/siegewar/siege/SiegeController.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarBannerControlUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarBlockUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarDistanceUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarDynmapUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarPointsUtil.java
  src/com/palmergames/bukkit/towny/war/siegewar/utils/SiegeWarSiegeCompletionUtil.java
Labels: Label-Siege War
