Repository TownyAdvanced/Towny, pull requests merged in 2021-06, with the labels that each got.

#4966 Add luckperms contexts
  pom.xml
  resources/plugin.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/hooks/LuckPermsContexts.java
Labels: enhancement

#4996 Map HUD
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/huds/HUDManager.java
  src/com/palmergames/bukkit/towny/huds/MapHUD.java
Labels: enhancement

#5001 1.17
  pom.xml
  resources/config-migration.json
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
  src/com/palmergames/bukkit/towny/huds/MapHUD.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/utils/BorderUtil.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#5017 Fix players res friending themselves or NPCs
  src/com/palmergames/bukkit/towny/object/Resident.java
Labels: bug

#5019 Fix building w/o `github-actions` maven profile; Ensure JVM 8 compatiblity with JDK9+
  .github/workflows/compile-on-push.yml
  .github/workflows/deploy-on-release.yml
  pom.xml
  src/com/palmergames/bukkit/towny/utils/TownUtil.java
Labels: dependencies

#5030 Fix a NoSuchMethodError that can occur on 1.15
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: bug
