Repository TownyAdvanced/Towny, pull requests merged in 2021-04, with the labels that each got.

#4854 Miscellaneous fixes
  resources/chinese.yml
  resources/config-migration.json
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: bug

#4865 Add config option for toggling visualized spawn points.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
Labels: enhancement

#4867 Add TownPreInvitePlayerEvent
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/event/town/TownPreInvitePlayerEvent.java
Labels: Label-API, enhancement

#4864 French translation
  resources/french.yml
Labels: Label-Languages, enhancement

#4870 Add adventure library
  .gitignore
  pom.xml
  resources/chinese.yml
  resources/danish.yml
  resources/english.yml
  resources/es-419.yml
  resources/french.yml
  resources/german.yml
  resources/italian.yml
  resources/korean.yml
  resources/norwegian.yml
  resources/polish.yml
  resources/pt-br.yml
  resources/russian.yml
  resources/se-SV.yml
  resources/spanish.yml
  resources/zh-TW.yml
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/TownySpigotMessaging.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  src/com/palmergames/bukkit/towny/object/TownBlockType.java
  src/com/palmergames/bukkit/util/BukkitTools.java
  src/com/palmergames/bukkit/util/Colors.java
Labels: Label-Chat, enhancement

#4878 Add town/nation name blacklist config option
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/util/NameValidation.java
Labels: enhancement

#4888 Add bossbar notifications
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: enhancement

#4893 Fix entity-vs-entity combat always being allowed
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
Labels: bug

#4855 Fix water & lava being usable to grief others.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
Labels: enhancement

#4880 Sort town resident list by date they joined it
  resources/english.yml
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
Labels: enhancement
