Repository TownyAdvanced/Towny, pull requests merged in 2021-10, with the labels that each got.

#5326 Add a size limit for the town_block_ratio option.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
Labels: enhancement

#5329 Prevent outlaws from being able to join towns.
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: bug

#5337 Fix backup cleaning not working
  src/com/palmergames/bukkit/towny/tasks/CleanupTask.java
  src/com/palmergames/util/FileMgmt.java
Labels: bug

#5408 Add ally and enemy lists to Towns.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/event/town/TownAddAlliedTownEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownAddEnemiedTownEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownRemoveAlliedTownEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownRemoveEnemiedTownEvent.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
Labels: Label-Towns, Label-Data, Label-Command
