Repository TownyAdvanced/Towny, pull requests merged in 2021-07, with the labels that each got.

#5039 Handle dispenser damage correctly
  src/com/palmergames/bukkit/towny/event/damage/TownyDispenserDamageEntityEvent.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
Labels: bug

#5040 Send a warning if /tw toggle is used when usingtowny is false.
  resources/english.yml
  src/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
Labels: enhancement

#5063 Overhaul/plotgroup overhaul
  resources/english.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/huds/MapHUD.java
  src/com/palmergames/bukkit/towny/object/PlotGroup.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: Label-Plot Groups

#5016 New version checker
  pom.xml
  resources/english.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/TownyUpdateChecker.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
  src/com/palmergames/bukkit/towny/tasks/UpdateCheckerTask.java
  src/com/palmergames/bukkit/util/Version.java
Labels: enhancement

#5080 Add 1.17 to the readme
  README.md
Labels: enhancement

#5058 Add trust and per-player permissions.
  resources/english.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/event/plot/PlotTrustAddEvent.java
  src/com/palmergames/bukkit/towny/event/plot/PlotTrustRemoveEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownTrustAddEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownTrustRemoveEvent.java
  src/com/palmergames/bukkit/towny/listeners/TownyInventoryListener.java
  src/com/palmergames/bukkit/towny/object/Coord.java
  src/com/palmergames/bukkit/towny/object/PermissionData.java
  src/com/palmergames/bukkit/towny/object/PlayerCache.java
  src/com/palmergames/bukkit/towny/object/PlotGroup.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/gui/EditGUI.java
  src/com/palmergames/bukkit/towny/object/gui/PermissionGUI.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/utils/PermissionGUIUtil.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  src/com/palmergames/bukkit/towny/utils/ResidentUtil.java
  src/com/palmergames/bukkit/towny/war/common/townruin/TownRuinUtil.java
Labels: enhancement

#5081 Remove Integrated FlagWar (Admins: use the add-on going forward)
  resources/chinese.yml
  resources/danish.yml
  resources/english.yml
  resources/es-419.yml
  resources/french.yml
  resources/german.yml
  resources/italian.yml
  resources/korean.yml
  resources/norwegian.yml
  resources/polish.yml
  resources/pt-br.yml
  resources/russian.yml
  resources/se-SV.yml
  resources/spanish.yml
  resources/zh-TW.yml
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/TownSpawnLevel.java
  src/com/palmergames/bukkit/towny/war/common/WarZoneListener.java
  src/com/palmergames/bukkit/towny/war/flagwar/Cell.java
  src/com/palmergames/bukkit/towny/war/flagwar/CellAttackThread.java
  src/com/palmergames/bukkit/towny/war/flagwar/CellUnderAttack.java
  src/com/palmergames/bukkit/towny/war/flagwar/FlagWar.java
  src/com/palmergames/bukkit/towny/war/flagwar/FlagWarConfig.java
  src/com/palmergames/bukkit/towny/war/flagwar/events/CellAttackCanceledEvent.java
  src/com/palmergames/bukkit/towny/war/flagwar/events/CellAttackEvent.java
  src/com/palmergames/bukkit/towny/war/flagwar/events/CellDefendedEvent.java
  src/com/palmergames/bukkit/towny/war/flagwar/events/CellWonEvent.java
  src/com/palmergames/bukkit/towny/war/flagwar/listeners/FlagWarBlockListener.java
  src/com/palmergames/bukkit/towny/war/flagwar/listeners/FlagWarCustomListener.java
  src/com/palmergames/bukkit/towny/war/flagwar/listeners/FlagWarEntityListener.java
Labels: Flag War

#5084 SW-310: Added event for custom ordering of displayed nations list
  src/com/palmergames/bukkit/towny/event/nation/DisplayedNationsListSortEvent.java
  src/com/palmergames/bukkit/towny/object/comparators/ComparatorCaches.java
Labels: enhancement

#5082 Add config option for limiting ally amounts
  resources/english.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: enhancement

#5095 Implemented basic configuration format for audit history
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/economy/GovernmentAccountAuditor.java
Labels: enhancement

#5105 Fix canBlockMove always allowing wilderness
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
Labels: bug

#5103 Add a tutorial book for the plot perm GUI
  src/com/palmergames/bukkit/towny/listeners/TownyInventoryListener.java
  src/com/palmergames/bukkit/towny/utils/PermissionGUIUtil.java
Labels: enhancement

#5111 Remove unneeded permission check
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: bug

#5107 Prevent zombies breaking doors in claimed areas.
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: enhancement

#5114 Add some new getOrNull methods
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: enhancement

#5113 Print yaml exception message if a file breaks formatting
  resources/english.yml
  src/com/palmergames/bukkit/config/CommentedConfiguration.java
Labels: enhancement

#5119 Fix NPE when a town ruins
  src/com/palmergames/bukkit/towny/war/common/townruin/TownRuinUtil.java
Labels: bug

#5128 Allow moving of blocks between wilderness plot borders
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
Labels: bug

#5126 Replace all sysouts
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/TownyTimerHandler.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyServerListener.java
  src/com/palmergames/bukkit/towny/object/Translation.java
  src/com/palmergames/bukkit/towny/object/metadata/MetadataLoader.java
  src/com/palmergames/bukkit/towny/permissions/GroupManagerSource.java
  src/com/palmergames/bukkit/towny/tasks/BackupTask.java
  src/com/palmergames/bukkit/towny/tasks/TeleportWarmupTimerTask.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  src/com/palmergames/util/FileMgmt.java
Labels: enhancement
