Repository TownyAdvanced/Towny, pull requests merged in 2021-12, with the labels that each got.

#5485 Remove redundant nationSpawn variable
  src/com/palmergames/bukkit/towny/object/Nation.java
Labels: enhancement, Label-Nations

#5484 Add web map integration to status screens
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/SpawnLocation.java
  src/com/palmergames/bukkit/towny/object/statusscreens/StatusScreen.java
Labels: enhancement

#5478 Queue the revert on unclaim feature.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/regen/PlotBlockData.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/tasks/RepeatingTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: Label-Data, Label-Command

#5490 Make the ItemLists class not an interface
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#5492 Fix the delete town event causing an NPE in edge cases.
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/event/DeleteTownEvent.java
Labels: bug, Label-Data, Label-Events

#5491 Add admin merge commands for nations and towns
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
Labels: Label-Data, Label-Command, Label-TownyAdmin

#5493 Reorganization and cleanup of Town, Nation, and TownySettings
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Towns, Label-Nations

#5504 Add 2 convenience methods to PreNewTownEvent
  src/com/palmergames/bukkit/towny/event/PreNewTownEvent.java
Labels: enhancement, Label-Events

#5506 Fix possible tab completion NPE
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
Labels: bug, Label-Command

#5507 Allow lava_cauldrons to kill minecarts.
  src/com/palmergames/bukkit/towny/listeners/TownyVehicleListener.java
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#5508 Call the pre new town event after any confirmations are confirmed.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#5505 Add TownPreClaimEvent to initial TownBlock claimed during new Town code.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/event/TownPreClaimEvent.java
Labels: Label-Command, Label-Events

#5522 Replace underscores on override lang keys properly.
  src/com/palmergames/bukkit/towny/object/Translation.java
Labels: bug, Label-Languages

#5528 Update CONTRIBUTING.MD
  .github/CONTRIBUTING.MD
Labels: Label-CI/CD

#5514 Translate Console givebonus warning
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/object/Translation.java
Labels: Label-Languages, Label-Command, Label-TownyAdmin

#5540 Fix a typo in a lang key use
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: bug, Label-Command

#5542 Prevent the theft of axolotls
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/utils/EntityTypeUtil.java
Labels: bug

#5543 Replaces Towny's own usages of the deprecated getType() methods.
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/TownBlockType.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
  src/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: Label-Data, Label-TownBlock

#5546 Fix minecart names in ItemLists
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: bug

#5547 Cleanup on custom_types branch.
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/TownBlockType.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
Labels: Label-Command, Label-TownBlock

#5388 Custom townblock types
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
  src/com/palmergames/bukkit/towny/ChunkNotification.java
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/event/TownBlockTypeRegisterEvent.java
  src/com/palmergames/bukkit/towny/huds/PermHUD.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyInventoryListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyVehicleListener.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/TownBlockData.java
  src/com/palmergames/bukkit/towny/object/TownBlockType.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
  src/com/palmergames/bukkit/towny/object/TownyInventory.java
  src/com/palmergames/bukkit/towny/object/gui/PermissionGUI.java
  src/com/palmergames/bukkit/towny/object/gui/SelectionGUI.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  src/com/palmergames/bukkit/towny/utils/ResidentUtil.java
  src/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
  src/com/palmergames/bukkit/util/ItemLists.java
  src/com/palmergames/util/StringMgmt.java
Labels: enhancement, Label-Towns, Label-Data, Label-Command, Label-TownyAdmin, Label-TownBlock, Label-Events

#5558 Fix for SQL schema and new townblock type-saving.
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

#5560 Only apply the outsiders prevent pvp toggle when enabling pvp.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command
