Repository TownyAdvanced/Towny, pull requests merged in 2021-11, with the labels that each got.

#5419 Fix variable name in javadoc
  src/com/palmergames/bukkit/towny/TownyMessaging.java
Labels: bug

#5423 Add ability to add translation strings apart from the LoadTranslationEvent.
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/object/Translation.java
Labels: Label-API, Label-Languages

#5422 Remove EventWar from Towny codebase.
  resources/lang/en-US.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/event/EventWarEndEvent.java
  src/com/palmergames/bukkit/towny/event/EventWarPreStartEvent.java
  src/com/palmergames/bukkit/towny/event/EventWarStartEvent.java
  src/com/palmergames/bukkit/towny/huds/HUDManager.java
  src/com/palmergames/bukkit/towny/huds/WarHUD.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityMonitorListener.java
  src/com/palmergames/bukkit/towny/object/NationSpawnLevel.java
  src/com/palmergames/bukkit/towny/object/TownSpawnLevel.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/tasks/HealthRegenTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  src/com/palmergames/bukkit/towny/war/common/WarZoneConfig.java
  src/com/palmergames/bukkit/towny/war/common/WarZoneListener.java
  src/com/palmergames/bukkit/towny/war/common/townruin/TownRuinSettings.java
  src/com/palmergames/bukkit/towny/war/common/townruin/TownRuinUtil.java
  src/com/palmergames/bukkit/towny/war/eventwar/PlotAttackedEvent.java
  src/com/palmergames/bukkit/towny/war/eventwar/StartWarTimerTask.java
  src/com/palmergames/bukkit/towny/war/eventwar/TownScoredEvent.java
  src/com/palmergames/bukkit/towny/war/eventwar/War.java
  src/com/palmergames/bukkit/towny/war/eventwar/WarSpoils.java
  src/com/palmergames/bukkit/towny/war/eventwar/WarTimerTask.java
  src/com/palmergames/bukkit/towny/war/eventwar/WarUtil.java
  src/com/palmergames/bukkit/towny/war/eventwar/WarZoneData.java
  src/com/palmergames/bukkit/util/ServerBroadCastTimerTask.java
Labels: Label-Data, Label-API, Label-Command, Label-TownyAdmin, Label-Events

#5428 Implemented town and nation baltops
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/object/economy/Account.java
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
Labels: Label-Money, Label-Command

#5432 Add events for when a town/nation spawn is set.
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/event/nation/NationSetSpawnEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownSetSpawnEvent.java
Labels: enhancement, Label-Command

#5435 Fix typo in /n set capital node.
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: bug

#5434 Add a TownBlock getter to PlotToggle events
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/event/plot/toggle/PlotToggleEvent.java
  src/com/palmergames/bukkit/towny/event/plot/toggle/PlotToggleExplosionEvent.java
  src/com/palmergames/bukkit/towny/event/plot/toggle/PlotToggleFireEvent.java
  src/com/palmergames/bukkit/towny/event/plot/toggle/PlotToggleMobsEvent.java
  src/com/palmergames/bukkit/towny/event/plot/toggle/PlotTogglePvpEvent.java
Labels: enhancement, Label-Command

#5439 API: Add PlotPreUnclaimEvent and PlotUnclaimEvent to feature/pre-claim-events.
  src/com/palmergames/bukkit/towny/event/PlotChangeOwnerEvent.java
  src/com/palmergames/bukkit/towny/event/plot/PlotPreClaimEvent.java
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotChangeOwnerEvent.java
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotClaimEvent.java
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotPreClaimEvent.java
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotPreUnclaimEvent.java
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotUnclaimEvent.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
Labels: Label-TownBlock, Label-Events

#5444 Parse baltops asynchronously
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

#5418 API: Add PlotPreClaimEvent and PlotClaimEvent
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/event/PlotChangeOwnerEvent.java
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotChangeOwnerEvent.java
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotClaimEvent.java
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotPreClaimEvent.java
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotPreUnclaimEvent.java
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotUnclaimEvent.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
Labels: enhancement, Label-Data, Label-TownBlock, Label-Events

#5448 Fix exception when running /plot claim
  src/com/palmergames/bukkit/towny/event/plot/changeowner/PlotChangeOwnerEvent.java
Labels: bug

#5456 Fix nation spawns not being cleared when a capital changes.
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: bug, Label-Towns, Label-Nations

#5455 Make the outsiders prevent pvp toggle apply to plots.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#5457 Show online status for console when running /res.
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
Labels: enhancement, Label-Command

#5458 Set the nation spawn to the town's spawn on creation.
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/object/Nation.java
Labels: enhancement, Label-Nations, Label-Command

#5461 Fix outlaws teleporting into towns they're outlawed in using /n spawn.
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: bug

#5466 Fix surname formatting.
  src/com/palmergames/bukkit/towny/object/Resident.java
Labels: bug, Label-Resident

#5465 Make the outsiders prevent pvp option apply to arenas aswell
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: enhancement, Label-Command

#5464 Fix /nation set oobe.
  src/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: bug, Label-Command

#5468 NewDay timer overhaul.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/TownyTimerHandler.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/NewDayScheduler.java
Labels: Label-Command, Label-TownyAdmin

#5471 Refactor/nation command
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: Label-Command

#5474 Fix possible npe when checking bankrupt status.
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
Labels: bug, Label-Money

#5477 Switch to yml issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: enhancement, github

#5480 Refactor/nation allying
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: Label-Command
