Repository TownyAdvanced/Towny, pull requests merged in 2022-08, with the labels that each got.

#6075 Create our own wrapper impl
  src/com/palmergames/util/StringMgmt.java
Labels: enhancement

#6068 Add option to disallow numbers in town/nation names
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/util/NameValidation.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#6067 Allow spaces to be used in town/nation rename commands
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#6066 Make it easier to debug lang file formatting errors
  src/com/palmergames/bukkit/towny/object/Translation.java
Labels: enhancement, Label-Languages

#6064 Fix /t deposit & /n deposit running sync
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#6062 Include the plot price in the /plot fs feedback message
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: enhancement, Label-Command

#6060 Ensure player gets feedback message when setting a group for sale
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: enhancement, Label-Command

#6058 Re-check group set cost after confirmation is accepted
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: enhancement, Label-Command

#6052 Add admin town command upkeep toggle
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

#6077 Add null check to teleport listener
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: enhancement

#6081 Add /t & /n deposit all
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#6079 Update platform bukkit to 4.1.2
  pom.xml
Labels: enhancement

#6078 Update translatable with changes from MiniMessage PR
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/object/Translatable.java
Labels: enhancement, Label-Languages

#6038 Add configurable plot type limits
  resources/config-migration.json
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/migration/RunnableMigrations.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
Labels: enhancement, Label-Towns, Label-TownBlock

#6088 Add Translator#component
  src/com/palmergames/bukkit/towny/object/Translator.java
Labels: enhancement, Label-Languages

#6091 Add component support for status screen events
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/event/statusscreen/StatusScreenEvent.java
Labels: enhancement

#6089 Allow removing metadata by key
  src/com/palmergames/bukkit/towny/object/TownyObject.java
Labels: enhancement, Label-API

#6045 Simplify permission-checking code with NoPermissionException
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
  src/com/palmergames/bukkit/towny/exceptions/NoPermissionException.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
  src/com/palmergames/bukkit/util/BlockUtil.java
Labels: Label-Resident, Label-Command, Label-TownyAdmin

#6098 Add WorldCoord#getChunks
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
Labels: enhancement, Label-API

#6104 Fix plot info command not being usable in wilderness
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: enhancement, Label-Command

#6102 Rename town explosion methods
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/event/town/toggle/TownToggleExplosionEvent.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: enhancement, Label-Towns, Label-Command

#6105 Add TownyComponents class
  pom.xml
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  src/com/palmergames/bukkit/towny/object/Translatable.java
  src/com/palmergames/bukkit/towny/utils/TownyComponents.java
Labels: enhancement, Label-Languages

#6103 Make the ASCII map fully use components
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/event/asciimap/WildernessMapEvent.java
Labels: enhancement

#6107 Handle bold characters in titles using pixelwidth
  pom.xml
  src/com/palmergames/bukkit/util/ChatTools.java
Labels: enhancement

#6108 Allow /plot set name to be used on plots in groups
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: enhancement, Label-Command

#6090 Add status screen changes from minimessage branch
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/object/statusscreens/StatusScreen.java
Labels: enhancement

#6093 Refactor/town command2
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: Label-Command

#6133 Use FontUtil's minecraftfont constant for bookfactory
  src/com/palmergames/bukkit/util/BookFactory.java
  src/com/palmergames/bukkit/util/FontUtil.java
Labels: enhancement

#6136 Stop removing title/surname when nation is deleted
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: Label-Data

#6137 A selection of changes to bring in from the UUID branch.
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
  src/com/palmergames/bukkit/util/BukkitTools.java
Labels: Label-Towns, Label-Data, Label-API, Label-TownBlock

#6139 Adopt plot group .id to .uuid changes.
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/object/ObjectGroup.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/util/BukkitTools.java
Labels: Label-Towns, Label-Data

#6140 Prevent axolotls from targeting protected mobs
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
Labels: enhancement

#6132 Add colors class changes from minimessage branch
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/util/Colors.java
  src/com/palmergames/util/StringMgmt.java
Labels: enhancement

#6134 Replace Component.texts with alternatives in formatter.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/TownyFormatter.java
Labels: enhancement
