Repository TownyAdvanced/Towny, pull requests merged in 2022-07, with the labels that each got.

#6006 Add Resident#getAccountOrNull
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/object/Resident.java
Labels: enhancement, Label-Data, Label-Resident

#6032 Add a command to manually override a town's TownLevel.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/util/StringMgmt.java
Labels: Label-Towns, Label-Data, Label-Command, Label-TownyAdmin

#6033 Condense action bar and bossbar notification options into one
  resources/config-migration.json
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
  src/com/palmergames/bukkit/config/migration/MigrationType.java
  src/com/palmergames/bukkit/config/migration/RunnableMigrations.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: enhancement

#5992 Add unclaimEntityTypeDelete to TownyWorld.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/tasks/RepeatingTimerTask.java
Labels: Label-World, Label-Data

#6044 Fix vehicles not being killed by lava
  src/com/palmergames/bukkit/towny/listeners/TownyVehicleListener.java
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#6043 Make townyworld's trident strike list use uuid instead of eid
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
Labels: enhancement

#6046 Add baltop as banned name
  src/com/palmergames/bukkit/util/NameValidation.java
Labels: enhancement

#6051 Exclude transitive bukkit api dependency
  pom.xml
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/object/TownyObject.java
  src/com/palmergames/util/StringMgmt.java
Labels: enhancement

#6042 Add upkeep comparator type
  resources/lang/en-US.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/object/comparators/ComparatorCaches.java
  src/com/palmergames/bukkit/towny/object/comparators/ComparatorType.java
  src/com/palmergames/bukkit/towny/object/comparators/GovernmentComparators.java
Labels: enhancement, Label-Command

#6054 Add perm check to invalid comp type message
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: enhancement, Label-Command
