Repository TownyAdvanced/Towny, pull requests merged in 2022-02, with the labels that each got.

#5714 Create a new Byte datafield.
  src/com/palmergames/bukkit/towny/object/metadata/ByteDataField.java
  src/com/palmergames/bukkit/towny/object/metadata/MetadataLoader.java
  src/com/palmergames/bukkit/towny/object/metadata/TownyCDFDeserializer.java
  src/com/palmergames/bukkit/towny/utils/MetaDataUtil.java
Labels: enhancement

#5724 Fix command feedback when using trust commands via console.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/event/town/TownTrustAddEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownTrustRemoveEvent.java
Labels: bug, Label-Command, Label-TownyAdmin

#5734 Fix /towny plotclearblocks always saying that towny is disabled.
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
Labels: enhancement, Label-Command

#5738 Remove assertions from flatfile source.
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: bug, Label-Data

#5735 Add some revert ignore blocks.
  resources/config-migration.json
  src/com/palmergames/bukkit/config/ConfigNodes.java
Labels: enhancement

#5739 Pre 0 98 0 0 deprecations
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/event/PlayerChangePlotEvent.java
  src/com/palmergames/bukkit/towny/huds/HUDManager.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: Label-Towns, Label-Data, Label-API, Label-Command, Label-TownyAdmin, Label-Events

#5707 Add possibility for towns to have unlimited claims.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/TownyPlaceholderExpansion.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: Label-Towns, Label-Command

#5584 Remove all of the pre-0.97.0.0 deprecations.
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/event/DisallowedPVPEvent.java
  src/com/palmergames/bukkit/towny/event/NationTagChangeEvent.java
  src/com/palmergames/bukkit/towny/event/TownPreUnclaimEvent.java
  src/com/palmergames/bukkit/towny/event/TownTagChangeEvent.java
  src/com/palmergames/bukkit/towny/event/TownUnclaimEvent.java
  src/com/palmergames/bukkit/towny/exceptions/EconomyException.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/PlayerCache.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/economy/Account.java
  src/com/palmergames/bukkit/towny/object/metadata/CustomDataField.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
  src/com/palmergames/bukkit/towny/utils/NameUtil.java
  src/com/palmergames/util/FileMgmt.java
Labels: Label-Money, Label-Towns, Label-Nations, Label-Data, Label-Resident, Label-Events

#5741 Update readme for new release
  README.md
Labels: enhancement

#5761 Fixes database and townyperms files growing new lines.
  src/com/palmergames/bukkit/config/CommentedConfiguration.java
  src/com/palmergames/bukkit/towny/db/DatabaseConfig.java
Labels: Label-Data

#5728 Get bed spawn locations async in SpawnUtil
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: enhancement

#5666 Refactor /towny command.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
  src/com/palmergames/util/KeyValue.java
  src/com/palmergames/util/KeyValueTable.java
  src/com/palmergames/util/Sorting.java
Labels: enhancement, Label-Command, refactor

#5665 Enumsets for townyworld
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/migration/WorldMigrationAction.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
Labels: Label-Command

#5737 ItemLists overhaul
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyVehicleListener.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
  src/com/palmergames/bukkit/towny/utils/EntityTypeUtil.java
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#5777 Fix revert explosion entities being wiped
  resources/config-migration.json
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
Labels: bug

#5781 Fix explosion revert entities regression
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
Labels: bug

#5779 Small Blurb Update
  src/com/palmergames/bukkit/config/ConfigNodes.java
Labels: Label-Siege War
