Repository TownyAdvanced/Towny, pull requests merged in 2022-06, with the labels that each got.

#5942 Make respawn anchors respect the deny bed use option
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: enhancement

#5952 Improve accuracy of PreNewTownEvent#getTownLocation
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/event/PreNewTownEvent.java
Labels: enhancement, Label-Command, Label-Events

#5967 Update actions versions
  .github/workflows/compile-on-push.yml
  .github/workflows/deploy-on-release.yml
  .github/workflows/label-on-pr.yml
Labels: dependencies

#5969 Small change to showing costs to spawn in lists.
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

#5968 Feature/minimessage support translator instead of translatable
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/command/InviteCommand.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/event/statusscreen/NationStatusScreenEvent.java
  src/com/palmergames/bukkit/towny/event/statusscreen/StatusScreenEvent.java
  src/com/palmergames/bukkit/towny/event/statusscreen/TownStatusScreenEvent.java
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
Labels: Label-Command

#5974 Fix nation tax message using inputted amount instead of what the taxes were actually set to
  src/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: Label-Command

#5976 Fix possible stackoverflow exception for translations
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/Translation.java
Labels: enhancement, Label-Languages

#5979 Protect the economy plugin being asked for bank balances during listing.
  src/com/palmergames/bukkit/towny/object/comparators/GovernmentComparators.java
  src/com/palmergames/bukkit/towny/object/economy/Account.java
Labels: Label-Money

#5985 Check if economy is enabled in town plots command
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#5990 Handle more kinds of changes to cauldrons
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: enhancement
