Repository TownyAdvanced/Towny, pull requests merged in 2022-03, with the labels that each got.

#5785 Fix not being able to replace null mayors with /ta set mayor.
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: bug, Label-Command, Label-TownyAdmin

#5783 Fix long file names causing exceptions when backing up.
  src/com/palmergames/util/FileMgmt.java
Labels: bug

#5786 Convert legacy entity names to the new format.
  src/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
  src/com/palmergames/util/StringMgmt.java
Labels: enhancement, Label-Command

#5792 Add workaround for watchdog crashes causing problems.
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
Labels: bug

#5800 Fix /tw set usedefault causing an NPE.
  src/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
Labels: enhancement, Label-Command

#5814 Adds /res toggle bordertitles
  resources/lang/en-US.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/utils/MetaDataUtil.java
  src/com/palmergames/bukkit/towny/utils/ResidentUtil.java
Labels: Label-Resident, Label-Command

#5810 API: Allow other plugins to use ConfigMigrator & REMOVE MigrationType.
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
  src/com/palmergames/bukkit/config/migration/MigrationType.java
Labels: Label-Config

#5736 Fix water being able to be placed in waterloggable blocks on plot borders.
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: bug

#5832 Add NationPreAddAllyEvent
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/event/nation/NationPreAddAllyEvent.java
Labels: Label-Command

#5830 Fix /ta checkperm having incorrect tab completions
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

#5834 Let admins bypass nation capital checks
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: Label-Command

#5839 Fix /towny top balance
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
Labels: Label-Command
