Repository TownyAdvanced/Towny, pull requests merged in 2022-09, with the labels that each got.

#6151 Fix /towny map big kicking players in rare cases.
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
Labels: enhancement

#6146 Remove lang file versions
  resources/lang/az-AZ.yml
  resources/lang/bg-BG.yml
  resources/lang/cs-CZ.yml
  resources/lang/da-DK.yml
  resources/lang/de-DE.yml
  resources/lang/en-US.yml
  resources/lang/es-419.yml
  resources/lang/es-AR.yml
  resources/lang/es-CL.yml
  resources/lang/es-EC.yml
  resources/lang/es-ES.yml
  resources/lang/es-MX.yml
  resources/lang/es-UY.yml
  resources/lang/es-VE.yml
  resources/lang/fr-FR.yml
  resources/lang/he-IL.yml
  resources/lang/id-ID.yml
  resources/lang/it-IT.yml
  resources/lang/ja-JP.yml
  resources/lang/ko-KR.yml
  resources/lang/nl-NL.yml
  resources/lang/no-NO.yml
  resources/lang/pl-PL.yml
  resources/lang/pt-BR.yml
  resources/lang/pt-PT.yml
  resources/lang/ro-RO.yml
  resources/lang/ru-RU.yml
  resources/lang/sr-CS.yml
  resources/lang/sv-SE.yml
  resources/lang/th-TH.yml
  resources/lang/tl-PH.yml
  resources/lang/tr-TR.yml
  resources/lang/uk-UA.yml
  resources/lang/vi-VN.yml
  resources/lang/zh-CN.yml
  resources/lang/zh-TW.yml
  src/com/palmergames/bukkit/towny/object/TranslationLoader.java
  src/com/palmergames/util/FileMgmt.java
Labels: enhancement

#6141 Remove instances of legacy making it into components
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/object/comparators/ComparatorCaches.java
  src/com/palmergames/bukkit/towny/object/metadata/CustomDataField.java
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
Labels: enhancement, Label-Command

#6143 Replace ChatColor.stripColor uses with Colors.strip
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/object/economy/GovernmentAccountAuditor.java
  src/com/palmergames/bukkit/towny/tasks/UpdateCheckerTask.java
  src/com/palmergames/bukkit/util/BookFactory.java
Labels: enhancement, Label-Money

#6144 Add a catch to Account's constructor
  src/com/palmergames/bukkit/towny/object/economy/Account.java
Labels: enhancement, Label-Money

#6142 MiniMessage!
  pom.xml
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  src/com/palmergames/bukkit/towny/object/Translatable.java
  src/com/palmergames/bukkit/towny/object/metadata/CustomDataField.java
  src/com/palmergames/bukkit/towny/object/statusscreens/StatusScreen.java
  src/com/palmergames/bukkit/towny/utils/TownyComponents.java
  src/com/palmergames/bukkit/util/ChatTools.java
  src/com/palmergames/bukkit/util/Colors.java
  src/com/palmergames/util/StringMgmt.java
Labels: enhancement, Label-Languages, Label-Command

#6155 Fallback to another Vault chat implementation if an invalid one is detected
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/permissions/VaultPermSource.java
Labels: enhancement

#6156 Fix new reference file creation not working
  src/com/palmergames/bukkit/towny/object/TranslationLoader.java
Labels: enhancement

#6154 Use getPlayerExact for resident#getPlayer
  src/com/palmergames/bukkit/towny/object/Resident.java
Labels: enhancement, Label-Resident

#6167 Use town sing translation in TownCommand
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#6166 Add TownyAPI#getTown(Player)
  src/com/palmergames/bukkit/towny/TownyAPI.java
Labels: enhancement, Label-API

#6165 Make TownyAPI#getOnlinePlayers(ResidentList) thread safe
  src/com/palmergames/bukkit/towny/TownyAPI.java
Labels: enhancement, Label-API

#6163 Improve command blocking
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/object/CommandList.java
Labels: enhancement

#6176 Fix legacy hex code parsing not working
  src/com/palmergames/util/StringMgmt.java
Labels: enhancement

#6171 Simplify parameters used for TownCommand title & surname methods
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#6179 API: Add TOWNYADMIN_TOWN and TOWNYADMIN_NATION CommandTypes
  src/com/palmergames/bukkit/towny/TownyCommandAddonAPI.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

#6181 Add option to use a timer for new day scheduling.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/tasks/NewDayScheduler.java
Labels: enhancement

#6180 Catch exceptions from spawn point particle spawning
  src/com/palmergames/bukkit/towny/object/SpawnPoint.java
  src/com/palmergames/bukkit/towny/tasks/DrawSpawnPointsTask.java
Labels: enhancement

#6190 API: Add TownyAPI#getNation(Player)
  src/com/palmergames/bukkit/towny/TownyAPI.java
Labels: enhancement, Label-API

#6189 Remove old sculk spread option
  pom.xml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
Labels: enhancement

#6186 Town board command improvements
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#6185 Replace ChatTools.stripColour with Colors.strip
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/util/ChatTools.java
Labels: enhancement

#6182 Add Confirmation related events
  src/com/palmergames/bukkit/towny/confirmations/ConfirmationHandler.java
  src/com/palmergames/bukkit/towny/confirmations/event/ConfirmationCancelEvent.java
  src/com/palmergames/bukkit/towny/confirmations/event/ConfirmationConfirmEvent.java
  src/com/palmergames/bukkit/towny/confirmations/event/ConfirmationEvent.java
  src/com/palmergames/bukkit/towny/confirmations/event/ConfirmationSendEvent.java
Labels: enhancement

#6187 Add a ConfirmationTransaction to Confirmations.
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/confirmations/Confirmation.java
  src/com/palmergames/bukkit/towny/confirmations/ConfirmationBuilder.java
  src/com/palmergames/bukkit/towny/confirmations/ConfirmationHandler.java
  src/com/palmergames/bukkit/towny/confirmations/ConfirmationTransaction.java
  src/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: Label-Command
