Repository TownyAdvanced/Towny, pull requests merged in 2022-10, with the labels that each got.

#6031 Various Improvements to Jail Functionality
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/event/resident/ResidentJailEvent.java
  src/com/palmergames/bukkit/towny/event/resident/ResidentPreJailEvent.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityMonitorListener.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/jail/JailReason.java
  src/com/palmergames/bukkit/towny/object/jail/UnJailReason.java
  src/com/palmergames/bukkit/towny/tasks/HourlyTimerTask.java
  src/com/palmergames/bukkit/towny/utils/JailUtil.java
Labels: Label-Towns, Label-Data, Label-Resident, Label-Command, Label-Jail

#6209 Add BukkitTools#isEventCancelled
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/util/BukkitTools.java
Labels: enhancement, Label-Command

#6212 Put brick info tool behind infotool resident mode
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: enhancement, Label-Command

#6208 Use getPlayerExact for BukkitTools#isOnline
  src/com/palmergames/bukkit/util/BukkitTools.java
Labels: enhancement

#6207 Add /townyadmin town new townname npc
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#6211 Replace old ArraySort class with comparator
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
  src/com/palmergames/bukkit/util/ArraySort.java
Labels: enhancement

#6210 Add ResidentToggleModeEvent
  src/com/palmergames/bukkit/towny/event/resident/ResidentToggleModeEvent.java
  src/com/palmergames/bukkit/towny/object/Resident.java
Labels: enhancement, Label-Resident

#6203 Protect against ender crystal damage in pvp disabled areas.
  src/com/palmergames/bukkit/towny/utils/EntityTypeUtil.java
Labels: enhancement

#6199 Remove resident as trusted in towns/plots upon deletion
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: enhancement, Label-Data

#6204 Add TownBlockExplosionTestEvent
  src/com/palmergames/bukkit/towny/event/damage/TownBlockExplosionTestEvent.java
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
Labels: enhancement

#6226 Make unkickable ranks configurable
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#6227 Use toLowerCase(Locale.ROOT) in TownySettings
  src/com/palmergames/bukkit/towny/TownySettings.java
Labels: enhancement

#6221 Hide tax component on status screens if taxes are off.
  src/com/palmergames/bukkit/towny/TownyFormatter.java
Labels: enhancement

#6219 Change border smoke color based on affiliation
  src/com/palmergames/bukkit/towny/TownyTimerHandler.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  src/com/palmergames/bukkit/towny/object/CellBorder.java
  src/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
  src/com/palmergames/bukkit/util/DrawSmokeTaskFactory.java
  src/com/palmergames/bukkit/util/DrawUtil.java
  src/com/palmergames/bukkit/util/LocationRunnable.java
Labels: enhancement

#6225 Make spawn types' cooldowns separate and configurable.
  resources/config-migration.json
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/spawnlevel/NationSpawnLevel.java
  src/com/palmergames/bukkit/towny/object/spawnlevel/TownSpawnLevel.java
  src/com/palmergames/bukkit/towny/tasks/TeleportWarmupTimerTask.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: Label-API, Label-Resident

#6240 Added %townyadvanced_is_trusted% placeholder
  src/com/palmergames/bukkit/towny/TownyPlaceholderExpansion.java
Labels: Label-Placeholders, hacktoberfest-accepted

#6253 Add bamboo raft to boats item list
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#6259 Bump Jabel to 1.0.0
  pom.xml
Labels: enhancement, dependencies

#6263 Added unformatted town/nation balance placeholders
  src/com/palmergames/bukkit/towny/TownyPlaceholderExpansion.java
Labels: Label-Placeholders, hacktoberfest-accepted

#6264 Added max residents per nation
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: Label-Command, hacktoberfest-accepted

#6262 Nation tax percent
  resources/plugin.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/TownyPlaceholderExpansion.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/event/nation/toggle/NationToggleTaxPercentEvent.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
Labels: Label-Nations, Label-Data, Label-Command, hacktoberfest-accepted

#6265 Specify .github/workflows/ directory for CI/CD label
  .github/labeler.yml
Labels: enhancement, Label-CI/CD

#6272 Deprecate leftover uuid task method
  src/com/palmergames/bukkit/towny/TownyTimerHandler.java
Labels: enhancement

#6270 Make UpdateCheckerTask implement runnable
  src/com/palmergames/bukkit/towny/TownyUpdateChecker.java
  src/com/palmergames/bukkit/towny/tasks/UpdateCheckerTask.java
Labels: enhancement

#6273 Use getPlayerExact in more places
  src/com/palmergames/bukkit/towny/ChunkNotification.java
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/permissions/BukkitPermSource.java
  src/com/palmergames/bukkit/towny/permissions/GroupManagerSource.java
  src/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
  src/com/palmergames/bukkit/towny/permissions/TownyPerms.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
  src/com/palmergames/bukkit/util/BukkitTools.java
Labels: enhancement, Label-Command, Label-TownyAdmin, refactor
