Repository TownyAdvanced/Towny, pull requests merged in 2022-12, with the labels that each got.

#6349 Fix typo in PlayerLeaveTownEvent
  src/com/palmergames/bukkit/towny/event/PlayerLeaveTownEvent.java
Labels: Label-Events

#6345 Set to main scoreboard when toggling hud off
  src/com/palmergames/bukkit/towny/huds/HUDManager.java
Labels: enhancement

#6353 Make it possible to use /t deposit amount townname
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: Label-Command

#6356 Add /res toggle adminbypass & tidy TownyPermissionSource
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
  src/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: Label-Command

#6360 Remove old powdered snow workaround
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
Labels: enhancement

#6361 Fix possible /tw set wildname NPE
  src/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
Labels: bug, Label-Command

#6369 Update deploy_prerelease.yml
  .github/workflows/deploy_prerelease.yml
Labels: Label-CI/CD

#6370 Replace deprecated getPassenger
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: enhancement

#6372 Expose unformatted time in BankTransaction
  src/com/palmergames/bukkit/towny/object/economy/BankTransaction.java
Labels: enhancement, Label-Money

#6375 Lookup towny worlds via uuid
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/TownyPlaceholderExpansion.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
  src/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
Labels: enhancement, Label-API, Label-Command, Label-TownyAdmin

#6376 Deprecate redundant WorldCoord#getTownyWorldOrNull method
  src/com/palmergames/bukkit/towny/ChunkNotification.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/event/asciimap/WildernessMapEvent.java
  src/com/palmergames/bukkit/towny/huds/MapHUD.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
Labels: enhancement, Label-Command

#6378 Temporarily use name for world lookups again
  src/com/palmergames/bukkit/towny/TownyAPI.java
Labels: Label-API

#6382 Support for y less than 0 for revert-on-unclaim.
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/regen/PlotBlockData.java
  src/com/palmergames/util/FileMgmt.java
Labels: Label-Data

#6384 Make bossbar chunk notifications configurable
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: enhancement

#6391 Add founder to Town.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Towns, Label-Data, Label-Command

#6396 Use bukkit warning annotation for our deprecated events
  src/com/palmergames/bukkit/towny/event/BankTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/NationPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/NationTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/PlayerEnterTownEvent.java
  src/com/palmergames/bukkit/towny/event/PlayerLeaveTownEvent.java
  src/com/palmergames/bukkit/towny/event/PlotChangeOwnerEvent.java
  src/com/palmergames/bukkit/towny/event/TownPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownyPreTransactionEvent.java
  src/com/palmergames/bukkit/towny/event/TownyTransactionEvent.java
Labels: enhancement, Label-Events

#6399 Ignore end portal respawns
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: enhancement

#6398 Add min distance options for new towns
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command
