Repository TownyAdvanced/Towny, pull requests merged in 2022-11, with the labels that each got.

#6280 Fix lecterns requiring destroy perms to open.
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: bug

#6281 Fix action event isMessageSupressed method
  src/com/palmergames/bukkit/towny/event/actions/TownyActionEvent.java
  src/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
Labels: bug

#6296 Fix potion splash event edge case
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: enhancement

#6292 Replace unmodifiable annotation with jetbrains equivalent
  src/com/palmergames/annotations/Unmodifiable.java
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/object/TownyObject.java
Labels: enhancement

#6271 Minor regen api refactor
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
Labels: enhancement, Label-Command, refactor

#6254 Reformat Contributing (Reopened)
  .github/CONTRIBUTING.MD
Labels: enhancement

#6301 DeleteNationEvent continuity fix
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/event/DeleteNationEvent.java
Labels: Label-Data, Label-Events

#6276 TrustTown command
  resources/lang/en-US.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/event/town/TownTrustTownAddEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownTrustTownRemoveEvent.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
Labels: Label-Towns, Label-Data, Label-Command, Label-TownyAdmin

#6307 PAPI: Add %townyadvanced_nation_or_town_name%
  src/com/palmergames/bukkit/towny/TownyPlaceholderExpansion.java
Labels: enhancement

#6314 Prevent falling blocks from being launched into towns
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyPaperEvents.java
Labels: enhancement

#6322 Fix NPE on startup
  src/com/palmergames/bukkit/towny/listeners/TownyLoginListener.java
Labels: bug

#6321 Remove townyadmin's getSender()
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#6327 Remove redundant isWilderness check
  src/com/palmergames/bukkit/towny/TownySettings.java
Labels: enhancement

#6334 Fix broken yaml in plugin.yml
  resources/plugin.yml
Labels: bug

#6332 Use method handles in townyperms
  src/com/palmergames/bukkit/towny/listeners/TownyPaperEvents.java
  src/com/palmergames/bukkit/towny/permissions/TownyPerms.java
Labels: enhancement

#6333 Make ascii map symbol options reloadable
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
Labels: enhancement

#6343 Use the world's wild revert delay
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
Labels: bug
