Repository TownyAdvanced/Towny, pull requests merged in 2022-01, with the labels that each got.

#5587 API: Add TranslationLoader, an easy-to-use class that loads Translations into Towny.
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/object/Translation.java
  src/com/palmergames/bukkit/towny/object/TranslationLoader.java
Labels: Label-API, Label-Languages

#5589 Refactor some listener code.
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyServerListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyVehicleListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
  src/com/palmergames/bukkit/towny/utils/EntityTypeUtil.java
Labels: refactor

#5594 Fix entities being able to steal items from item frames.
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
Labels: bug

#5597 Fix OOBE in the towny top command.
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
Labels: bug, Label-Command

#5602 Add PAPI placeholder for town public/open status
  src/com/palmergames/bukkit/towny/TownyPlaceholderExpansion.java
Labels: Label-Placeholders

#5603 Added forsale placeholder
  src/com/palmergames/bukkit/towny/TownyPlaceholderExpansion.java
Labels: Label-Placeholders

#5607 Fix AreaSelectionUtil treating every selection like it will be for claiming.
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: bug, Label-Claiming, Label-Command, Label-TownyAdmin

#5612 Fix /plot group toggle mobs message.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: bug, Label-Command

#5614 Remove global registration message
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
Labels: enhancement

#5619 Filter out undesired languages in the TranslationLoader
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
  src/com/palmergames/bukkit/towny/object/Translation.java
  src/com/palmergames/bukkit/towny/object/TranslationLoader.java
Labels: Label-Languages

#5590 Add config option to define what languages are enabled.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
  src/com/palmergames/bukkit/towny/object/Translation.java
  src/com/palmergames/bukkit/towny/object/TranslationLoader.java
Labels: enhancement, Label-Languages

#5625 Fix typo in material name, add new migrationtype
  resources/config-migration.json
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
  src/com/palmergames/bukkit/config/migration/MigrationType.java
  src/com/palmergames/bukkit/config/migration/WorldMigrationAction.java
Labels: enhancement

#5620 New migration type: Move
  resources/config-migration.json
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
  src/com/palmergames/bukkit/config/migration/MigrationType.java
  src/com/palmergames/bukkit/towny/Towny.java
Labels: enhancement

#5622 Make wolves inside towns mortal again.
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
  src/com/palmergames/bukkit/towny/utils/EntityTypeUtil.java
Labels: bug

#5621 Add list subcommand to /town trust.
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

#5637 Remove player crop trampling world setting, in favour of using plot permissions.
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
Labels: Label-Data

#5646 Fix /t trust remove not working.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: bug, Label-Command

#5645 Put town into ruined state when last resident is deleted.
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: enhancement, Label-Data

#5641 Change PlayerCache Map to use UUIDs instead of Names.
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/gui/EditGUI.java
Labels: enhancement, Label-Data, Label-Resident, Label-Command

#5647 Fix newday being scheduled again after running /ta newday
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/NewDayScheduler.java
Labels: bug, Label-Command, Label-TownyAdmin

#5652 Correctly fall back to the en_US when a server is using not-en_US
  src/com/palmergames/bukkit/towny/object/Translation.java
Labels: Label-Languages

#5648 Improve /ta town townname kick name feedback.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/utils/ResidentUtil.java
Labels: enhancement, Label-Command

#5664 Use EnumSet for switch and itemuse materials.
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/object/TownBlockData.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
Labels: enhancement

#5669 Add TOWNYADMIN_RELOAD commandtype.
  src/com/palmergames/bukkit/towny/TownyCommandAddonAPI.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#5671 Improve border around townyperms header.
  src/com/palmergames/bukkit/towny/permissions/TownyPerms.java
Labels: enhancement

#5674 Fix mob removal task malfunctioning when using citizens.
  src/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
Labels: bug

#5673 Fix translation loader loading global from the wrong location.
  src/com/palmergames/bukkit/towny/object/TranslationLoader.java
Labels: bug

#5700 Implement ForwardingAudience on government and resident.
  src/com/palmergames/bukkit/towny/object/Government.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: enhancement, Label-Towns, Label-Nations, Label-Resident
