Repository TownyAdvanced/Towny, pull requests merged in 2022-04, with the labels that each got.

#5841 Update townyperms comment
  src/com/palmergames/bukkit/towny/permissions/TownyPerms.java
Labels: enhancement

#5840 Improve hibernated residents loading
  src/com/palmergames/bukkit/towny/TownyUniverse.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
Labels: enhancement, Label-Data

#5861 Open baltop book synchronously
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: bug, Label-Command

#5859 Cache towny time
  src/com/palmergames/bukkit/towny/TownyPlaceholderExpansion.java
  src/com/palmergames/bukkit/towny/TownyTimerHandler.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  src/com/palmergames/bukkit/towny/object/Translation.java
  src/com/palmergames/bukkit/towny/tasks/NewDayScheduler.java
  src/com/palmergames/util/TimeMgmt.java
Labels: enhancement, Label-Languages, Label-Command

#5864 Add descriptive error if Towny is being shaded.
  src/com/palmergames/bukkit/towny/Towny.java
Labels: enhancement

#5865 Replace references to Kings in the english language files with the word Leader or Nation Leader.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/util/NameValidation.java
Labels: Label-Command

#5873 Protect invisible player from town add tab completes.
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/utils/ResidentUtil.java
  src/com/palmergames/bukkit/util/BukkitTools.java
Labels: Label-Command, Label-TownyAdmin
