Repository TownyAdvanced/Towny, pull requests merged in 2022-05, with the labels that each got.

#5874 Feature/plot type caching
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/TownBlockType.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeCache.java
  src/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: Label-Towns, Label-Data, Label-Command, Label-TownBlock

#5900 Check player name async on login
  src/com/palmergames/bukkit/towny/listeners/TownyLoginListener.java
Labels: enhancement

#5898 Allow specific luckperms contexts to be disabled
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/hooks/LuckPermsContexts.java
  src/com/palmergames/bukkit/towny/object/PlayerCache.java
Labels: enhancement

#5901 Protect against cauldron filling/emptying
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: bug

#5903 Show ally requests to players with accept permissions.
  src/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: enhancement, Label-Command

#5905 Add plot types component to the town status screen
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/TownyFormatter.java
  src/com/palmergames/bukkit/towny/object/TownBlockTypeCache.java
Labels: enhancement

#5902 Add option to disable pickups while under respawn protection
  resources/config-migration.json
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/object/Resident.java
Labels: enhancement, Label-Resident

#5910 Fix runCommand for plots button
  src/com/palmergames/bukkit/towny/TownyFormatter.java
Labels: bug

#5922 Add player name to /t claim withdraw reason
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#5918 Make the mob removal task partially async
  src/com/palmergames/bukkit/towny/TownyTimerHandler.java
  src/com/palmergames/bukkit/towny/event/MobRemovalEvent.java
  src/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
Labels: enhancement, Label-Events

#5914 Add AccountAuditor#getTransactions
  src/com/palmergames/bukkit/towny/object/economy/AccountAuditor.java
  src/com/palmergames/bukkit/towny/object/economy/GovernmentAccountAuditor.java
Labels: enhancement, Label-Money

#5930 Fix potential comod error during mob removal
  src/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
Labels: bug
