Repository TownyAdvanced/Towny, pull requests merged in 2023-05, with the labels that each got.

#6649 Cleanup Resources in Error
  src/com/palmergames/bukkit/towny/db/SQLSchema.java
  src/com/palmergames/util/FileMgmt.java
Labels: Label-Data

#6656 Add moving piston to block ignore list
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/resources/config-migration.json
Labels: enhancement

#6657 Take care of a missed bukkit scheduler use
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: bug, Label-Command

#6654 Add Folia to bstats server type chart
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
Labels: enhancement

#6669 Remove first arg for nation transaction method
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: enhancement, Label-Command

#6668 Add new perm node for inviting multiple residents
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/plugin.yml
Labels: enhancement, Label-Permissions, Label-Command

#6671 Add admin setting for towns: forcemobs
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyAPI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/huds/PermHUD.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Towns, Label-Data, Label-API, Label-Command, Label-TownyAdmin

#6674 Fix hex gradients with minimessage not working
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/util/StringMgmt.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/text/HexConversionTests.java
Labels: bug

#6682 Setup jabel for the provider modules
  providers/BaseProviders/pom.xml
  providers/FoliaProvider/pom.xml
Labels: bug

#6678 Set source encoding utf-8 for all modules
  Towny/pom.xml
  pom.xml
Labels: bug

#6676 Add some more tests
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/util/NameValidation.java
  Towny/src/main/java/com/palmergames/util/TimeTools.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/NameValidationTests.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/TimeTests.java
Labels: enhancement, Label-Command

#6675 Skip javadoc generation by default
  .github/workflows/compile-on-push.yml
  .github/workflows/deploy-on-release.yml
  Towny/pom.xml
Labels: enhancement, Label-CI/CD

#6677 Fix trie insertion order weirdness
  Towny/src/main/java/com/palmergames/util/Trie.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/TrieTests.java
Labels: bug

#6684 Refactor the main class a bit
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data, refactor

#6694 Use a proper key for the cooldowns map
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/CooldownTimerTask.java
Labels: enhancement

#6695 Remove teleport related fields from Resident
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityMonitorListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TeleportRequest.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TeleportWarmupTimerTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: enhancement, Label-Resident

#6696 Fix previously async timers tasks being sync
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyTimerHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/HealthRegenTimerTask.java
Labels: bug

#6688 Fix login npe regression
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyLoginListener.java
Labels: bug

#6698 Fix another NPE caused by listener registration change
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: bug

#6699 Fix world settings being wiped on load.
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyUniverse.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: bug, Label-Data

#6701 Marginally faster town or null
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyAPI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/WorldCoord.java
Labels: enhancement, Label-API

#6680 Allow subcommands to be blocked
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/CommandList.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/CommandListTests.java
Labels: enhancement

#6710 Fix the seventh null mayor npe
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
Labels: bug

#6712 Fix exception when using negative radius for a circle claim
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: bug
