Repository TownyAdvanced/Towny, pull requests merged in 2023-01, with the labels that each got.

#6408 Add PluginIntegrations class.
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/hooks/PluginIntegrations.java
  src/com/palmergames/bukkit/towny/hooks/TownyPlaceholderExpansion.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyEntityMonitorListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/listeners/TownyServerListener.java
  src/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
  src/com/palmergames/bukkit/towny/utils/MoneyUtil.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  src/com/palmergames/bukkit/util/BukkitTools.java
Labels: Label-Command

#6239 Give TownClaim some TLC
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: Label-Command, Label-TownyAdmin, Label-TownBlock

#6428 Add a 30 second timeout for backup future
  src/com/palmergames/bukkit/towny/TownyUniverse.java
Labels: enhancement

#6436 Make area selection tool able to handle already claimed plots.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: Label-Command

#6449 Add tab complete for /ta nation recheck
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

#6450 Add confirmation to /n set capital
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/object/Nation.java
Labels: Label-Nations, Label-Command
