Repository TownyAdvanced/Towny, pull requests merged in 2023-03, with the labels that each got.

#6517 API: Add PlayerChangePlotTypeEvent
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/event/plot/PlayerChangePlotTypeEvent.java
Labels: Label-Command

#6527 Fix sql source query NPE
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: bug, Label-Data

#6528 Fix /ta set mayor causing an npe if the old mayor is null
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: bug, Label-Command, Label-TownyAdmin

#6524 Make town and nation level related errors easier to debug
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/exceptions/TownyException.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#6538 Change format used for backup file names
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/util/FileMgmt.java
Labels: enhancement, Label-Data

#6537 Relativize paths in tar.gz backups
  src/com/palmergames/bukkit/towny/tasks/BackupTask.java
  src/com/palmergames/util/FileMgmt.java
Labels: enhancement

#6541 Make sure we aren't paying negative amounts to a Nation bank account during tax time.
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
Labels: Label-Money

#6542 Add an option to disable the mysql backup warning
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/db/DatabaseConfig.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: enhancement, Label-Data

#6547 Fix upkeep warning message doing sync economy calls
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
Labels: enhancement

#6548 Fix unclaim refunds doing sync economy calls
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: enhancement, Label-Command

#6348 Refactor/plot command modernization
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/utils/PermissionGUIUtil.java
Labels: Label-API, Label-Command, Label-TownBlock

#6552 Fix backups for windows
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: bug, Label-Data

#6111 Fix some Translatable.toString issues
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/confirmations/ConfirmationBuilder.java
  src/com/palmergames/bukkit/towny/object/Translatable.java
  src/com/palmergames/bukkit/towny/utils/MoneyUtil.java
Labels: enhancement, Label-Languages, Label-Command, Label-TownyAdmin

#6430 Slightly improve mapToFile
  src/com/palmergames/bukkit/towny/db/FlatFileSaveTask.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/util/FileMgmt.java
Labels: enhancement, Label-Data

#6558 Seperate changelog reading into its own class
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/object/ChangelogResult.java
  src/com/palmergames/bukkit/towny/utils/ChangelogReader.java
  src/com/palmergames/util/JavaUtil.java
Labels: enhancement

#6559 Fix invite objects holding a reference to command senders
  src/com/palmergames/bukkit/towny/command/InviteCommand.java
  src/com/palmergames/bukkit/towny/invites/Invite.java
  src/com/palmergames/bukkit/towny/object/inviteobjects/AbstractInvite.java
Labels: enhancement, Label-Command

#6568 Fix NPC prefixed usernames not being blocked
  src/com/palmergames/bukkit/towny/listeners/TownyLoginListener.java
Labels: bug

#6570 Update to 1.19.4
  pom.xml
  src/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#6583 Protect signs from being edited
  src/com/palmergames/bukkit/towny/Towny.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/utils/MinecraftVersion.java
Labels: enhancement

#6591 Fix WorldCoord#getChunks sometimes being wrong
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
Labels: bug

#6590 Replace snapshot queue with chunk snapshots
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/object/PlayerCache.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/regen/PlotBlockData.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/tasks/RepeatingTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
Labels: enhancement, Label-Data, Label-Command, Label-TownBlock
