Repository TownyAdvanced/Towny, pull requests merged in 2023-11, with the labels that each got.

#7039 Refactor/simplify town command
  Towny/src/main/java/com/palmergames/bukkit/towny/command/BaseCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/exceptions/ResidentNPCException.java
  Towny/src/main/java/com/palmergames/util/StringMgmt.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Command

#7082 Add equals and hashcodes overrides to Resident, Town, Nation & TownyWorld objects.
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Nation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownyWorld.java
Labels: Label-Towns, Label-Nations, Label-Resident

#7073 Prevent ruined towns from being bought
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
  Towny/src/main/resources/lang/en-US.yml
Labels: bug, Label-Towns, Label-Command

#7077 Add /res plotlist Command
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyMessaging.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
Labels: Label-Command

#7084 Remove two cases of == equality check for residents
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#7102 Fix outposts being counted wrong in town merge vetting code.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

#7101 Immediately schedule upcoming newday on paper
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/NewDayScheduler.java
Labels: enhancement

#7104 Fix manually-set town levels not returning the correct TownLevel
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Towns, Label-Command, Label-TownyAdmin
