Repository TownyAdvanced/Towny, pull requests merged in 2023-04, with the labels that each got.

#6584 Add Bridger plugin to pom.xml.
  pom.xml
Labels: enhancement

#6597 Make account a bit smarter
  src/com/palmergames/bukkit/towny/object/economy/Account.java
Labels: Label-Money

#6599 Fix up some missed stuffs
  src/com/palmergames/bukkit/towny/object/EconomyAccount.java
  src/com/palmergames/bukkit/towny/object/Government.java
  src/com/palmergames/bukkit/towny/object/economy/Account.java
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  src/com/palmergames/bukkit/towny/object/economy/TownyServerAccount.java
Labels: Label-Money

#6601 Remove deprecations made in the 0.97 series of Towny releases.
  pom.xml
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownyMessaging.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/TownyTimerHandler.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/event/PlotChangeOwnerEvent.java
  src/com/palmergames/bukkit/towny/event/nation/toggle/NationToggleUnknownEvent.java
  src/com/palmergames/bukkit/towny/event/statusscreen/StatusScreenEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownTrustAddEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownTrustRemoveEvent.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/ObjectGroup.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/TownBlockType.java
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  src/com/palmergames/bukkit/towny/permissions/TownyPerms.java
  src/com/palmergames/bukkit/towny/tasks/NewDayScheduler.java
  src/com/palmergames/bukkit/towny/utils/CombatUtil.java
  src/com/palmergames/util/StringMgmt.java
Labels: Label-Money, Label-Nations, Label-Data, Label-API, Label-Resident, Label-Command, Label-TownBlock, Label-Events

#6605 Add a rank-prefix, rank-priority system to Townyperms.
  src/com/palmergames/bukkit/towny/hooks/TownyPlaceholderExpansion.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/permissions/TownyPerms.java
Labels: Label-Resident

#6608 API: Add town-changing mayor events.
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/event/town/TownMayorChangeEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownMayorChangedEvent.java
  src/com/palmergames/bukkit/towny/event/town/TownMayorChosenBySuccessionEvent.java
  src/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Towns, Label-Command

#6565 Allow overclaimed towns to have their land stolen from them.
  resources/lang/en-US.yml
  resources/plugin.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/event/TownClaimEvent.java
  src/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
  src/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  src/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
  src/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
  src/com/palmergames/bukkit/towny/utils/OutpostUtil.java
Labels: Label-Towns, Label-Command, Label-Events

#6618 Add a migration for adding an old town level
  resources/config-migration.json
  src/com/palmergames/bukkit/config/migration/ConfigMigrator.java
Labels: enhancement

#6630 Fix legacy format subtitle out of bounds
  src/com/palmergames/bukkit/util/ChatTools.java
Labels: bug

#6631 Display mayor as none if town has no mayor
  src/com/palmergames/bukkit/towny/TownyFormatter.java
Labels: enhancement

#6632 Make campfire water bottle protection a bit better
  src/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: enhancement
