Repository TownyAdvanced/Towny, pull requests merged in 2023-08, with the labels that each got.

#6908 Add towny.receives-plot-notifications permission
  Towny/src/main/java/com/palmergames/bukkit/towny/event/PlayerChangePlotEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/plugin.yml
Labels: Label-Events

#6910 Improve move event listener/player cache a bit
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyAsciiMap.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/PlayerCache.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TeleportWarmupTimerTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#6896 Use constant for line separator string
  Towny/src/main/java/com/palmergames/bukkit/config/CommentedConfiguration.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/util/FileMgmt.java
Labels: enhancement, Label-Data

#6895 Make the ecowarn line log on the INFO level
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/PluginIntegrations.java
Labels: enhancement

#6911 Fix exception after creating a new PlayerCache
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
Labels: bug

#6915 Add contributors to plugin.yml
  Towny/src/main/resources/plugin.yml
Labels: enhancement

#6901 Fix all the weirdness around world entity key loading
  Towny/src/main/java/com/palmergames/bukkit/config/migration/RunnableMigrations.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownyWorld.java
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
  Towny/src/main/java/com/palmergames/util/StringMgmt.java
  Towny/src/main/resources/config-migration.json
  Towny/src/test/java/com/palmergames/bukkit/towny/test/ConfigMigrationTests.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/EntityTypeConversionTests.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/RegistryListTests.java
Labels: bug, Label-Data

#6920 Add spigot fallback to sign open event
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPaperEvents.java
Labels: enhancement

#6922 Add ability for mayors to exempt their townblocks from paying taxes.
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/plot/toggle/PlotToggleTaxedEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlock.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Data, Label-Command, Label-TownBlock

#6931 Replace lang3 validate with guava
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Position.java
Labels: bug

#6932 Add ability for towns and nations to have a negative fixed-rate tax amount.
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Government.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Nation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  Towny/src/main/java/com/palmergames/util/MathUtil.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Towns, Label-Nations, Label-Command

#6937 Fix Hibernated Residents table being keyed improperly.
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
Labels: Label-Data

#6944 Add "about" section to resident status screen
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/config-migration.json
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
  Towny/src/main/resources/townyperms.yml
Labels: Label-Data, Label-Resident, Label-Command, Label-TownyAdmin

#6927 Catch exceptions during plot group saving
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: enhancement, Label-Data

#6947 Upgrade HelpMenus to accept Translatables for multilanguage help menus.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/util/ChatTools.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Command

#6946 Refactor Resident Command
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
Labels: Label-Data, Label-Resident, Label-Command

#6949 Only warn the log when the world isn't loaded 20 ticks after Towny first tries to load it.
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
Labels: Label-Data

#6948 Add translatable descriptions to all of the HelpMenus.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyCommand.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Command, Label-TownyAdmin

#6954 Make the default resident about configurable
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
Labels: enhancement, Label-Data, Label-Resident, Label-Command

#6953 Fix removing Town from residents not being able to delete 1 man towns.
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyUniverse.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Nation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlock.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownyObject.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownyWorld.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: Label-Towns, Label-Nations, Label-Data, Label-Resident, Label-TownBlock
