Repository TownyAdvanced/Towny, pull requests merged in 2023-12, with the labels that each got.

#7116 Enhance Nation Requires Proximity Feature
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Nation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/ProximityUtil.java
  Towny/src/main/resources/config-migration.json
Labels: Label-Towns, Label-Nations, Label-Command, Label-TownyAdmin

#7128 Fix config migrator file formatting
  Towny/src/main/resources/config-migration.json
Labels: bug

#7127 Make Towny more resiliant to errors which come from having no Economy present on the server.
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyEconomyHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/BaseCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/confirmations/ConfirmationHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/confirmations/ConfirmationTransaction.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: Label-Money, Label-Command

#7129 Add the ability for nations to sanction towns, preventing them from joining the nation via invite or join.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/nation/NationSanctionTownAddEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/nation/NationSanctionTownRemoveEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Nation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/java/com/palmergames/bukkit/util/NameValidation.java
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
Labels: Label-Nations, Label-Data, Label-Command, Label-TownyAdmin

#7100 Seperate the load and save data sources
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyUniverse.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: enhancement, Label-Data

#7142 Reorganize the config, creating dedicated sections for Claiming and Spawning.
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/spawnlevel/NationSpawnLevel.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/spawnlevel/TownSpawnLevel.java
  Towny/src/main/resources/config-migration.json
  Towny/src/test/java/com/palmergames/bukkit/towny/test/BonusBlockPurchaseTests.java
Labels: Label-Command, Label-TownyAdmin

#7145 Add the ability to block claiming in plots which have too much Ocean or otherwise Unwanted biome in them.
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
  Towny/src/main/java/com/palmergames/bukkit/util/BiomeUtil.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Command
