Repository TownyAdvanced/Towny, pull requests merged in 2023-06, with the labels that each got.

#6716 Fix legacy debt converter not respecting isEconomyAsync
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/MoneyUtil.java
Labels: bug

#6719 Use a concurrent hashmap for invite handler invites
  Towny/src/main/java/com/palmergames/bukkit/towny/invites/InviteHandler.java
Labels: bug

#6715 Remove 'install vault' recommendation if it's present
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/PluginIntegrations.java
Labels: enhancement

#6717 minor improvements to player cache
  Towny/src/main/java/com/palmergames/bukkit/towny/object/PlayerCache.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
Labels: enhancement

#6725 replace last use of non-get player exact
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyEconomyHandler.java
Labels: enhancement, Label-Money

#6727 Fix merge costs related to purchaseable bonus blocks.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/MoneyUtil.java
  Towny/src/main/resources/lang/en-US.yml
Labels: bug, Label-Towns, Label-Command

#6729 Skip is warmup task running for movement
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: enhancement

#6730 Add reload listeners to some timer tasks
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DrawSpawnPointsTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/HealthRegenTimerTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TeleportWarmupTimerTask.java
Labels: enhancement

#6736 Fix cooldown loading exception message on first startup
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
Labels: bug, Label-Data

#6737 Port ItemList changes from enum branch
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AbstractRegistryList.java
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
  Towny/src/main/java/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#6740 Cleanup the mob removal task
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
Labels: enhancement

#6753 Fix possible reclaimTown NPE
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: bug

#6741 Fix changelog warning message when downgrading
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
Labels: bug

#6718 Replace all printStackTraces with the logger
  Towny/src/main/java/com/palmergames/bukkit/towny/command/InviteCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPaperEvents.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Translation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TranslationLoader.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/comparators/ComparatorCaches.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/Account.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/metadata/MetadataLoader.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/TownyPerms.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/ProtectionRegenTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/ResidentUtil.java
  Towny/src/main/java/com/palmergames/bukkit/util/NameValidation.java
  Towny/src/main/java/com/palmergames/util/FileMgmt.java
Labels: enhancement, Label-Money, Label-Towns, Label-Data, Label-Resident, Label-Languages, Label-Command, Label-TownyAdmin, refactor

#6750 Added Nation Conquered Tax:
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/time/dailytaxes/TownPaysNationConqueredTaxEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Nation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
Labels: Label-Nations, Label-Data, Label-Command

#6756 Add new excludeTag method
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AbstractRegistryList.java
  Towny/src/main/java/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#6744 Use paper's isWaxed API for signs
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: enhancement

#6769 Make the mob removal task a bit more thread safe on folia
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/PluginIntegrations.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
Labels: bug

#6770 Make use of Folia's scheduling API in Paper
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  pom.xml
  providers/PaperProvider/pom.xml
  providers/PaperProvider/src/main/java/com/palmergames/bukkit/towny/scheduling/impl/PaperTaskScheduler.java
Labels: enhancement

#6772 Fix legacy conversion for underlined text
  Towny/src/main/java/com/palmergames/bukkit/util/Colors.java
Labels: bug

#6781 Fix hanging signs not being edit protected
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/util/ItemLists.java
Labels: bug

#6782 fix a possible null datasource npe
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
Labels: bug

#6759 Add an optional Revert On Unclaim Whitelist.
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownyWorld.java
  Towny/src/main/java/com/palmergames/bukkit/towny/regen/PlotBlockData.java
Labels: Label-Data

#6784 Add legacy conversion unit tests
  Towny/src/main/java/com/palmergames/bukkit/util/Colors.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/text/LegacyConversionTests.java
Labels: enhancement

#6785 Remove useless volatile keyword in OnPlayerLogin
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
Labels: enhancement
