Repository TownyAdvanced/Towny, pull requests merged in 2023-07, with the labels that each got.

#6792 Improve config levels section parsing failure logging
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
Labels: enhancement

#6721 Refactor sql source to remove use of connection field
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: enhancement, Label-Data, refactor

#6665 Bukkit enum eradication futureproofing
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/config/migration/WorldMigrationAction.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/executors/TownyActionEventExecutor.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyInventoryListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyVehicleListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlockData.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownyWorld.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/gui/EditGUI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/regen/NeedsPlaceholder.java
  Towny/src/main/java/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/CombatUtil.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/EntityTypeUtil.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/ResidentUtil.java
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
  Towny/src/main/java/com/palmergames/bukkit/util/EntityLists.java
  Towny/src/main/java/com/palmergames/util/JavaUtil.java
  Towny/src/main/resources/config-migration.json
Labels: enhancement, Label-Command

#6794 Update some incorrect entity keys
  Towny/src/main/java/com/palmergames/bukkit/util/EntityLists.java
Labels: bug

#6799 Use method handle for respawn flags
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: enhancement

#6789 Make explicitly false nodes bypass towny admin check
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyMessaging.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#6800 New overclaiming restrictions/features.
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TownClaim.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Command

#6803 Use paper's open sign event for detecting sign edits
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPaperEvents.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: enhancement

#6805 Fix scoreboards on Folia by disabling them
  Towny/src/main/java/com/palmergames/bukkit/towny/huds/HUDManager.java
  Towny/src/main/resources/lang/en-US.yml
Labels: bug

#6804 Fix negating tax_exempt not working
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
Labels: bug

#6809 Draw cellborders sync
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: bug

#6810 Refactor the draw smoke task a bit
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DrawSmokeTask.java
Labels: enhancement

#6812 Fix matchRegistry filtering out ':'
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
Labels: bug

#6815 Fix saving of entity lists so that Entities whose names dont match EntityType Registry keys are not wiped out on save/load.
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/resources/config-migration.json
Labels: Label-Data

#6819 Fix a typo that was causing an exception
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
Labels: bug

#6821 Handle top placeholders better
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyMessaging.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/TownyPlaceholderExpansion.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/comparators/ComparatorCaches.java
  Towny/src/main/java/com/palmergames/util/Pair.java
Labels: bug, Label-Command

#6822 User internal class for expanded scheduling check
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
Labels: enhancement

#6826 Fix exception being thrown for empty key
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
Labels: bug

#6801 Make towny handle longer world names on sql.
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
Labels: Label-Data

#6838 Fix a typo in TownyUniverse
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyUniverse.java
Labels: enhancement

#6830 Remove underscores from plot names in chunk notifs
  Towny/src/main/java/com/palmergames/bukkit/towny/ChunkNotification.java
Labels: enhancement

#6848 Use better method for determining invitee online status
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#6825 Add coreprotect integration
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/PluginIntegrations.java
  Towny/src/main/java/com/palmergames/bukkit/towny/regen/PlotBlockData.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/ProtectionRegenTask.java
  Towny/src/main/resources/plugin.yml
Labels: enhancement

#6837 Add ignored entity spawn reason option
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
Labels: enhancement

#6847 Add getOfflinePlayerIfCached to BukkitTools
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
Labels: enhancement

#6849 Use invokeExact where possible
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPaperEvents.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/TownyPerms.java
Labels: enhancement

#6842 Remove essentials maven dependency
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/resources/plugin.yml
Labels: enhancement

#6860 Fix personal permission line loading in TownBlocks.
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data

#6851 Remove unneeded filtering from matchRegistry
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
Labels: bug

#6850 Allow negating nodes with {townname} and {nationname}
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/TownyPerms.java
Labels: enhancement

#6859 Implement a filter method for registry lists
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AbstractRegistryList.java
  Towny/src/main/java/com/palmergames/bukkit/util/EntityLists.java
Labels: enhancement

#6863 Take care of all the places we weren't using Locale.ROOT with toLowerCase()
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyCommandAddonAPI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyUniverse.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/BaseCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/InviteCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/conversation/SetupConversation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/DatabaseConfig.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlock.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownyPermission.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Translation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TranslationLoader.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/TownyPerms.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/NameUtil.java
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
Labels: Label-Towns, Label-Data, Label-Resident, Label-Languages, Label-Command, Label-TownyAdmin, Label-TownBlock

#6869 Fix registry lists' add method not working as expected
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AbstractRegistryList.java
Labels: bug

#6870 Fix teleport refund being done synchronously
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TeleportWarmupTimerTask.java
Labels: bug

#6871 Add testing for registry lists
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AbstractRegistryList.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/RegistryListTests.java
Labels: enhancement

#6878 Skip tests by default
  .github/workflows/compile-on-push.yml
  .github/workflows/deploy-on-release.yml
  .github/workflows/deploy_prerelease.yml
  Towny/pom.xml
Labels: enhancement, Label-CI/CD

#6827 Refactor the regen API to use hashmaps
  Towny/src/main/java/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
Labels: enhancement, refactor

#6886 Fix returning early in the PlayerInteractEvent listeners
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
Labels: enhancement

#6885 Fix Item Registry matching incorrectly
  Towny/src/main/java/com/palmergames/bukkit/config/CommentedConfiguration.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AbstractRegistryList.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/MinecraftVersion.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/RegistryListTests.java
Labels: bug

#6888 Cancel chunk notification tasks on logout
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/ChunkNotificationUtil.java
Labels: enhancement

#6890 Cancel scheduled tasks on shutdown
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  providers/FoliaProvider/src/main/java/com/palmergames/bukkit/towny/scheduling/impl/FoliaTaskScheduler.java
Labels: enhancement

#6526 Make it possible to recover from safemode without restarting
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/PluginIntegrations.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityMonitorListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/SpawnType.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: enhancement, Label-Command, Label-TownyAdmin
