Repository TownyAdvanced/Towny, pull requests merged in 2023-10, with the labels that each got.

#7010 Bump adventure platform bukkit to 4.3.1
  Towny/pom.xml
Labels: enhancement

#7011 Add utility for getting the bukkit command map
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
Labels: enhancement

#7023 Add boolean for if claim is from takeoverclaim to TownPreClaimEvent
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/TownPreClaimEvent.java
Labels: Label-Command, Label-Events

#7024 Fix support for Vanished players on servers using PremiumVanish and MC versions older than 1.19.3
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/BaseCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/MinecraftVersion.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/ResidentUtil.java
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
Labels: Label-Command

#6904 Add ability for admins to edit town/nation founding dates
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Command, Label-TownyAdmin

#7027 Make it possible to determine a Nation's NationLevel using the amount of towns instead of amount of residents.
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/nation/NationCalculateNationLevelNumberEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/TownyPlaceholderExpansion.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Nation.java
Labels: Label-Nations, Label-Command

#7034 Make all negative purchased blocks prices count as disabled
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/MoneyUtil.java
Labels: enhancement

#7031 Fix towns being deleted causing a second (pointless) town deletion when the last resident is removed.
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
Labels: Label-Resident

#7032 Refactor TownLevel calculation to include a new API event and reflow.
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/town/TownCalculateTownLevelNumberEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/TownyPlaceholderExpansion.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/BankAccount.java
Labels: Label-Money, Label-Towns, Label-Command, Label-TownyAdmin

#7040 Add projectile breaking protection for dripstone & pots
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AbstractRegistryList.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/MinecraftVersion.java
  Towny/src/main/java/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#7038 Make status screen sending respect the async eco setting
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

#7042 Add new switches from 23w41a and 23w42a
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/resources/config-migration.json
Labels: enhancement

#7012 Add floodfill claim command
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/BorderUtil.java
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
Labels: enhancement, Label-Command

#7053 Fix the draw smoke task being able to load chunks
  Towny/src/main/java/com/palmergames/bukkit/util/DrawUtil.java
Labels: enhancement

#7049 Remove everything deprecated between 0.98.0.0 and 0.99.0.0.
  Towny/src/main/java/com/palmergames/annotations/Unmodifiable.java
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyAPI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDataSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/BankTransactionEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/DeleteNationEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/NationPreTransactionEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/NationTransactionEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/PlayerEnterTownEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/PlayerLeaveTownEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/TownPreTransactionEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/TownTransactionEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/TownyPreTransactionEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/TownyTransactionEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/actions/TownyActionEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/plot/toggle/PlotToggleEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/statusscreen/StatusScreenEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/time/dailytaxes/PreTownPaysNationTaxEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/town/toggle/TownToggleEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/CellBorder.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/ObjectGroup.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/PlayerCache.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlock.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownComparators.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/WorldCoord.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/TownyPermissionSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/NewDayScheduler.java
  Towny/src/main/java/com/palmergames/bukkit/util/ArraySort.java
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
  Towny/src/main/java/com/palmergames/bukkit/util/DrawSmokeTaskFactory.java
  Towny/src/main/java/com/palmergames/bukkit/util/DrawUtil.java
  Towny/src/main/java/com/palmergames/bukkit/util/LocationRunnable.java
  Towny/src/main/java/com/palmergames/util/StringMgmt.java
Labels: Label-Money, Label-Towns, Label-Data, Label-API, Label-Resident, Label-Command, Label-TownBlock, Label-Events
