Repository TownyAdvanced/Towny, pull requests merged in 2023-02, with the labels that each got.

#6464 Fix NPE when clicking back button in a non-selection gui
  src/com/palmergames/bukkit/towny/object/TownyInventory.java
Labels: enhancement

#6377 Feature/world UUID loading
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/db/SQL_Schema.java
  src/com/palmergames/bukkit/towny/db/TownyDataSource.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/listeners/TownyWorldListener.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
Labels: enhancement, Label-Data, Label-API

#6448 Put limits on how many unclaimed townblocks can have their material/entity deletions run at once.
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  src/com/palmergames/bukkit/towny/regen/WorldCoordEntityRemover.java
  src/com/palmergames/bukkit/towny/regen/WorldCoordMaterialRemover.java
  src/com/palmergames/bukkit/towny/tasks/RepeatingTimerTask.java
Labels: Label-Data, Label-Command

#6473 Replace some hardcoded town and nation strings with translatables
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#6476 Fix exception when tab completing /t jail with no town
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
Labels: enhancement, Label-Command

#6484 Fix /ta forcemerge having swapped town names in message
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#6451 Replace world with weakref in WorldCoord
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/huds/PermHUD.java
  src/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
  src/com/palmergames/bukkit/towny/object/TownyWorld.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
  src/com/palmergames/bukkit/towny/regen/PlotBlockData.java
Labels: Label-Command, Label-TownBlock

#6488 Fix worldcoord from location parsing
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
Labels: enhancement

#6487 Fix /t claim doing economy calls on the main thread
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: enhancement, Label-Command

#6489 Add set of nodes that are given to peaceful players.
  pom.xml
  resources/config-migration.json
  resources/townyperms.yml
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/permissions/TownyPerms.java
Labels: Label-Command

#6482 Option to prevent people from claiming in a straight line
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/object/WorldCoord.java
Labels: Label-Command

#6453 [Feature] Cancellable permission change event
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/event/TownBlockPermissionChangeEvent.java
Labels: Label-API, Label-Command, Label-Events

#6201 Reduce potential NotRegisteredException calls using newer methods.
  src/com/palmergames/bukkit/towny/TownyAPI.java
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/chat/types/AllyType.java
  src/com/palmergames/bukkit/towny/chat/types/NationType.java
  src/com/palmergames/bukkit/towny/chat/types/TownType.java
  src/com/palmergames/bukkit/towny/chat/variables/NationVariable.java
  src/com/palmergames/bukkit/towny/chat/variables/TownVariable.java
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/HelpMenu.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  src/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  src/com/palmergames/bukkit/towny/db/TownySQLSource.java
  src/com/palmergames/bukkit/towny/huds/MapHUD.java
  src/com/palmergames/bukkit/towny/huds/PermHUD.java
  src/com/palmergames/bukkit/towny/object/Nation.java
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/Town.java
  src/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: Label-Towns, Label-Nations, Label-Data, Label-API, Label-Resident, Label-Command, Label-TownyAdmin

#6499 Fix claiming free plots causing useless bank history
  src/com/palmergames/bukkit/towny/tasks/PlotClaim.java
Labels: enhancement

#6500 Remove /plot claim repossesion logic in favour of /plot evict
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/tasks/PlotClaim.java
Labels: enhancement, Label-Command

#6501 Only remove non embassies from the left town on resident leave
  src/com/palmergames/bukkit/towny/object/Resident.java
  src/com/palmergames/bukkit/towny/object/TownBlock.java
Labels: enhancement, Label-Resident, Label-TownBlock

#6504 Fix /ta unclaim causing an NPE
  src/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: bug

#6503 Minor changes to reduce NRE usage.
  resources/lang/en-US.yml
  src/com/palmergames/bukkit/towny/TownyAsciiMap.java
  src/com/palmergames/bukkit/towny/command/BaseCommand.java
  src/com/palmergames/bukkit/towny/command/NationCommand.java
  src/com/palmergames/bukkit/towny/command/PlotCommand.java
  src/com/palmergames/bukkit/towny/command/ResidentCommand.java
  src/com/palmergames/bukkit/towny/command/TownCommand.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/command/TownyCommand.java
  src/com/palmergames/bukkit/towny/huds/HUDManager.java
  src/com/palmergames/bukkit/towny/huds/MapHUD.java
  src/com/palmergames/bukkit/towny/listeners/TownyBlockListener.java
  src/com/palmergames/bukkit/towny/utils/MoneyUtil.java
  src/com/palmergames/bukkit/towny/utils/OutpostUtil.java
  src/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  src/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: Label-Command, Label-TownyAdmin

#6508 Add remove town only option to resident purge
  src/com/palmergames/bukkit/config/ConfigNodes.java
  src/com/palmergames/bukkit/towny/TownySettings.java
  src/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  src/com/palmergames/bukkit/towny/tasks/ResidentPurge.java
Labels: enhancement, Label-Command, Label-TownyAdmin

#6510 ignore minAdjacentBlock if creating an outpost, on an outpost, or a s…
  src/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

#6512 Bank Account update
  src/com/palmergames/bukkit/towny/object/Government.java
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  src/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
Labels: Label-Money

#6497 API: TownEntersBankruptcyEvent
  src/com/palmergames/bukkit/towny/event/economy/TownEntersBankruptcyEvent.java
  src/com/palmergames/bukkit/towny/object/economy/BankAccount.java
Labels: Label-Money
