Repository TownyAdvanced/Towny, pull requests merged in 2024-03, with the labels that each got.

#7316 Fix snapshot taking on older versions
  Towny/src/main/java/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
Labels: bug

#7319 Add /town cede plot {townname} command.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/town/TownCedePlotEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/ProximityUtil.java
  Towny/src/main/java/com/palmergames/bukkit/util/NameValidation.java
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
Labels: Label-Command

#7322 Add optional permission node required to add colours to title and surnames.
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/java/com/palmergames/bukkit/util/Colors.java
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
Labels: Label-Command

#7321 Add MinJoinDays and MaxJoinDays to TownBlocks
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlock.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
  Towny/src/main/java/com/palmergames/util/TimeTools.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Data, Label-Command, Label-TownBlock
