Repository TownyAdvanced/Towny, pull requests merged in 2024-06, with the labels that each got.

#7333 Make addItemList accept any list of the same type
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AbstractRegistryList.java
  Towny/src/main/java/com/palmergames/bukkit/util/ItemLists.java
Labels: enhancement

#7430 Add TransactionEvents thrown by /ta withdraw and deposit commands.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Transaction.java
Labels: Label-Command, Label-TownyAdmin

#7432 Go into safemode if no sql connection could be made
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: enhancement, Label-Data

#7440 Remove more potential NotRegisteredExceptions.
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/AreaSelectionUtil.java
Labels: Label-Towns, Label-Data, Label-Resident, Label-Command

#7428 Support partial reference files
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Translation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TranslationLoader.java
  Towny/src/main/resources/lang/en-US.yml
Labels: enhancement, Label-Languages

#7455 don't fail on startup due to debug messaging
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AbstractRegistryList.java
Labels: bug

#7466 Fix a bad scheduler call in take over claim code
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: bug, Label-Command

#7467 Fix/plot border mode folia
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: bug

#7401 Raise java version to 17
  .github/CONTRIBUTING.MD
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/confirmations/ConfirmationHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/LuckPermsContexts.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AddonCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/CellSurface.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/ChangelogResult.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/SpawnPoint.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TeleportWarmupParticle.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlockTypeHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TranslationLoader.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/BorderUtil.java
  Towny/src/main/java/com/palmergames/util/FileMgmt.java
  Towny/src/test/java/com/palmergames/bukkit/towny/object/CommandListTests.java
  pom.xml
  providers/BaseProviders/pom.xml
  providers/FoliaProvider/pom.xml
  providers/PaperProvider/pom.xml
Labels: enhancement, Label-Data

#7474 Handle empty towns during duplicate resident removal
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
Labels: bug, Label-Data

#7476 Add plot group creation/deletion events
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/plot/group/PlotGroupAddEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/plot/group/PlotGroupCreatedEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/plot/group/PlotGroupDeletedEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: enhancement, Label-Command
