Repository TownyAdvanced/Towny, pull requests merged in 2024-10, with the labels that each got.

#7425 Add OfflinePlayer and UUID support to Economy backend
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/config/migration/RunnableMigrations.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyEconomyHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/PluginIntegrations.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/EconomyAccount.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Government.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Identifiable.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/Account.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/TownyServerAccount.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/TownyServerAccountEconomyHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/adapter/EconomyAdapter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/adapter/ReserveEconomyAdapter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/adapter/VaultEconomyAdapter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/provider/EconomyProvider.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/provider/ReserveEconomyProvider.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/provider/VaultEconomyProvider.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/transaction/TransactionBuilder.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/MoneyUtil.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/SpawnUtil.java
  Towny/src/main/java/com/palmergames/util/JavaUtil.java
  Towny/src/main/resources/config-migration.json
  Towny/src/main/resources/debtAccountsConverted.txt
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
  Towny/src/test/java/com/palmergames/util/JavaUtilTests.java
Labels: enhancement, Label-Money, Label-Resident, Label-Command, Label-TownyAdmin

#7646 Update Resident Modes system.
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/ResidentModesInitializeEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/resident/mode/AbstractResidentMode.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/resident/mode/BorderResidentMode.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/resident/mode/ClaimingResidentMode.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/resident/mode/GenericResidentMode.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/resident/mode/ResidentModeHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/GroupManagerSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/SetDefaultModes.java
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
Labels: Label-Data, Label-Resident, Label-Command, Label-Events

#7654 Fix testing broken in 1.21 bump, the main pom.xml requires paper-api
  .github/workflows/compile-on-push.yml
  .github/workflows/javadoc-test.yml
  .github/workflows/publish-javadoc-on-full-release.yml
  .github/workflows/publish_to_glare_repo.yml
  .github/workflows/test.yml
  Towny/pom.xml
  pom.xml
  providers/BaseProviders/pom.xml
  providers/FoliaProvider/pom.xml
  providers/PaperProvider/pom.xml
Labels: Label-CI/CD

#7647 Add support for VaultUnlocked as an Economy Provider and Adapter.
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyEconomyHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/adapter/EconomyAdapter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/adapter/ReserveEconomyAdapter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/adapter/VaultEconomyAdapter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/adapter/VaultUnlockedEconomyAdapter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/provider/EconomyProvider.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/provider/VaultUnlockedEconomyProvider.java
Labels: Label-Money, Label-Data
