Repository TownyAdvanced/Towny, pull requests merged in 2024-05, with the labels that each got.

#7402 Fix workflows running twice
  .github/workflows/compile-on-push.yml
  .github/workflows/test.yml
Labels: Label-CI/CD, github

#7403 Make our own getFileName
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TranslationLoader.java
  Towny/src/main/java/com/palmergames/util/FileMgmt.java
Labels: bug

#7313 Allow setting a default plot price of -1
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlock.java
Labels: enhancement, Label-Towns, Label-Command, Label-TownBlock

#7395 Bump adventure platform bukkit to 4.3.3-SNAPSHOT
  Towny/pom.xml
Labels: enhancement

#7398 API: add NATION_LIST_BY, TOWN_LIST_BY TownyCommandAddons.
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyCommandAddonAPI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

#7412 Expand town delete event with sender & causes
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDataSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/CancellableTownyEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/DeleteTownEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/PreDeleteTownEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/town/TownPreRuinedEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/TownRuinUtil.java
Labels: enhancement, Label-Data, Label-Resident, Label-Command, Label-TownyAdmin, Label-Events

#7415 Similarly expand the DeleteNationEvent
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDataSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/DeleteNationEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/PreDeleteNationEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/TownUtil.java
Labels: enhancement, Label-Towns, Label-Data, Label-Command, Label-TownyAdmin, Label-Events

#7427 Set mappings namespace in manifest
  Towny/pom.xml
Labels: enhancement
