Repository TownyAdvanced/Towny, pull requests merged in 2024-11, with the labels that each got.

#7655 Fix adventure relocation not excluding things from paper-api.
  .github/workflows/deploy_prerelease.yml
  .github/workflows/test.yml
  Towny/pom.xml
Labels: Label-CI/CD

#7658 Update bridger for java 21 support
  Towny/pom.xml
  providers/FoliaProvider/pom.xml
  providers/PaperProvider/pom.xml
Labels: enhancement

#7656 Remove methods deprecated during the 0.99.*.* release cycle, in time for the beginning of the 0.101.*.* release cycle.
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyEconomyHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Nation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/PlayerCache.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/SpawnPointLocation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TeleportWarmupParticle.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownBlock.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownyWorld.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/jail/Jail.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/ProtectionRegenTask.java
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
Labels: Label-Money, Label-Towns, Label-Nations, Label-Data, Label-Resident, Label-TownBlock

#7678 Re-fix max health attribute
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/HealthRegenTimerTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/MinecraftVersion.java
Labels: enhancement

#7688 Make the npc prefix check less strict and more precise
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyLoginListener.java
  Towny/src/test/java/com/palmergames/bukkit/towny/listeners/LoginListenerTests.java
Labels: enhancement
