Repository TownyAdvanced/Towny, pull requests merged in 2024-02, with the labels that each got.

#7235 Remove version check from potion effect name method
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
Labels: enhancement

#7236 Remove explicit citizens dependency
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/towny/hooks/PluginIntegrations.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityMonitorListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyServerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/CombatUtil.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/PlayerCacheUtil.java
  Towny/src/main/java/com/palmergames/bukkit/util/BukkitTools.java
  Towny/src/main/resources/plugin.yml
Labels: enhancement

#7237 Replace deprecated plugin loader with manager
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyServerListener.java
Labels: enhancement

#7199 Overhaul the NameValidation class.
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyUniverse.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/exceptions/InvalidNameException.java
  Towny/src/main/java/com/palmergames/bukkit/util/NameValidation.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Data, Label-Command, Label-TownyAdmin

#7254 Fix comod error when removing all sent invites
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: bug, Label-Command

#7256 Add do-not-overwrite block list to worlds that affects wilderness explosion reverts.
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownyWorld.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/ProtectionRegenTask.java
Labels: Label-Data

#7267 Remove magic values from spawnpoint ring offsets
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyTimerHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/SpawnPoint.java
Labels: enhancement

#7262 Fix mob removal on folia
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyTimerHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPaperEvents.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
Labels: enhancement

#7263 Make our custom registered commands identifiable
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/commandobjects/AcceptCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/commandobjects/CancelCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/commandobjects/ConfirmCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/commandobjects/DenyCommand.java
Labels: enhancement

#7265 Move using_economy to the eco section of the config
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/resources/config-migration.json
Labels: enhancement

#7266 Remove uuid percentage tracking
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyUniverse.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDataSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
Labels: enhancement, Label-Data

#7269 Reorganize test directory layout
  Towny/src/main/java/com/palmergames/bukkit/towny/object/AbstractRegistryList.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/CommandList.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/util/ItemLists.java
  Towny/src/main/java/com/palmergames/bukkit/util/NameValidation.java
  Towny/src/test/java/com/palmergames/bukkit/towny/config/BonusBlockPurchaseTests.java
  Towny/src/test/java/com/palmergames/bukkit/towny/config/ConfigMigrationTests.java
  Towny/src/test/java/com/palmergames/bukkit/towny/config/EntityTypeConversionTests.java
  Towny/src/test/java/com/palmergames/bukkit/towny/object/CommandListTests.java
  Towny/src/test/java/com/palmergames/bukkit/towny/object/PopulationTests.java
  Towny/src/test/java/com/palmergames/bukkit/towny/object/RegistryListTests.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/text/HexConversionTests.java
  Towny/src/test/java/com/palmergames/bukkit/util/ColorConversionTests.java
  Towny/src/test/java/com/palmergames/bukkit/util/NameValidationTests.java
  Towny/src/test/java/com/palmergames/util/TimeTests.java
  Towny/src/test/java/com/palmergames/util/TrieTests.java
Labels: enhancement, Label-Towns

#7273 Futureproof falling block checking
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityListener.java
Labels: enhancement

#7274 Add list metadata type
  Towny/src/main/java/com/palmergames/bukkit/towny/object/metadata/CustomDataField.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/metadata/DataFieldIO.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/metadata/ListDataField.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/metadata/MetadataLoader.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/metadata/TownyCDFDeserializer.java
Labels: enhancement

#7276 Remove locale message on first join
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/OnPlayerLogin.java
  Towny/src/main/resources/lang/en-US.yml
Labels: enhancement

#7281 Skip copying light data for our chunk snapshots
  Towny/src/main/java/com/palmergames/bukkit/towny/regen/TownyRegenAPI.java
  Towny/src/main/java/com/palmergames/util/JavaUtil.java
Labels: enhancement

#7285 Fix mob removal npe when townblock has no town
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
Labels: bug

#7280 Add /res outlawlist command
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Resident.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/config-migration.json
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
  Towny/src/main/resources/townyperms.yml
Labels: Label-Resident, Label-Command
