Repository TownyAdvanced/Towny, pull requests merged in 2024-04, with the labels that each got.

#7340 Compile & test branches without a pr
  .github/workflows/compile-on-push.yml
  .github/workflows/test.yml
Labels: enhancement, Label-CI/CD

#7345 Fix unclaim entity delete not working on folia
  Towny/src/main/java/com/palmergames/bukkit/towny/regen/WorldCoordEntityRemover.java
Labels: enhancement

#7354 Add CancelledTownyTeleportEvent
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyAPI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/teleport/CancelledTownyTeleportEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyEntityMonitorListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TeleportWarmupTimerTask.java
Labels: Label-API

#7351 Don't process claim particles for unloaded chunks
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/CellSurface.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/WorldCoord.java
  Towny/src/main/java/com/palmergames/util/Pair.java
  Towny/src/test/java/com/palmergames/bukkit/towny/object/WorldCoordTests.java
Labels: enhancement

#7264 Add consumer methods to the task scheduler
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  providers/BaseProviders/src/main/java/com/palmergames/bukkit/towny/scheduling/TaskScheduler.java
  providers/BaseProviders/src/main/java/com/palmergames/bukkit/towny/scheduling/impl/BukkitTaskScheduler.java
  providers/FoliaProvider/src/main/java/com/palmergames/bukkit/towny/scheduling/impl/FoliaTaskScheduler.java
  providers/PaperProvider/src/main/java/com/palmergames/bukkit/towny/scheduling/impl/PaperTaskScheduler.java
Labels: enhancement

#7314 Update logging code.
  Towny/src/main/java/com/palmergames/bukkit/towny/Towny.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyLogger.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyMessaging.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/GlobalAccountObserver.java
Labels: Label-Money, Label-Data, Label-Command, Label-TownyAdmin

#7375 Fix deleted town/nation bank refund duplication
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/BankAccount.java
Labels: bug, Label-Money, Label-Data

#7377 Fix async LoadedMetadataEvent call on folia
  Towny/src/main/java/com/palmergames/bukkit/towny/event/LoadedMetadataEvent.java
Labels: bug, Label-Events

#7382 Fix npe in town add resident event listener
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: bug

#7383 Fix nation deleted message showing when a predeletenationevent is cancelled.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/DailyTimerTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/TownUtil.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Towns, Label-Command, Label-TownyAdmin
