Repository TownyAdvanced/Towny, pull requests merged in 2024-09, with the labels that each got.

#7591 Shutdown saving task when making an sql dump
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: bug, Label-Data, Label-Command, Label-TownyAdmin

#7595 Fix safe spawn checking causing a sync chunk load
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: bug

#7600 Re-assign permissions for previous mayor after switch
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Nation.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
Labels: bug, Label-Towns, Label-Nations

#7599 Limit /plot trust remove suggestions to trusted residents
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: enhancement, Label-Command

#7598 Fix error message shown when using /plot group toggle taxed
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: Label-Command

#7605 Fix deleting objects from the SQL DB which are keyed by a UUID.
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
Labels: Label-Data
