Repository TownyAdvanced/Towny, pull requests merged in 2024-01, with the labels that each got.

#7158 Fix two nation command tab complete exceptions
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
Labels: bug, Label-Command

#7165 Add an isOverClaim property to TownClaimEvent and TownUnclaimEvent
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/TownClaimEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/town/TownUnclaimEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: Label-Data, Label-Command, Label-Events

#7177 Command Addon API for /town buy
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyCommandAddonAPI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
Labels: Label-Command

#7183 Refactor town join command, which was not able to be run from the console.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

#7181 Refactor the TownyWorldCommand.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
Labels: Label-Command

#7180 Refactor townAddResident method.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
Labels: Label-Towns, Label-Command

#7179 Refactor townSet and the subcommands.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
Labels: Label-Command

#7151 Add method to ProximityUtil to determine ability to claim land,
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyAPI.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TownClaim.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/ProximityUtil.java
Labels: Label-API, Label-Command

#7186 Update the town kicking method, and decouple the admin version of town kicking.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
Labels: Label-Command, Label-TownyAdmin

#7188 Refactor townAdd method to better handle adding and revoking invites.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/invites/InviteHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/ResidentUtil.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Command

#7196 Add a configurable amount of bonus townblocks given to new towns.
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
Labels: Label-Data, Label-Command

#7197 Refactor max residents per town code into TownUtil accessed via a new Town method.
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/InviteCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/NationUtil.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/TownUtil.java
  Towny/src/test/java/com/palmergames/bukkit/towny/test/PopulationTests.java
Labels: Label-Towns, Label-Command

#7198 Refactor/nation command
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/NationCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Town.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/NameUtil.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/TownUtil.java
Labels: Label-Towns, Label-Command
