Repository TownyAdvanced/Towny, pull requests merged in 2025-02, with the labels that each got.

#7760 Fix ArrayIndexOutOfBoundsException in /plot district add
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: Label-Command

#7765 Fix for resident rename weirdness
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: bug, Label-Data

#7764 Fixes an issue where a renamed resident cannot access their trusted plots.
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
Labels: Label-Data

#7761 Add a new resident district mode and aligned tab completion for /plot district with help and codebase
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyCustomListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/resident/mode/ResidentModeHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/plugin.yml
Labels: Label-Command
