Repository TownyAdvanced/Towny, pull requests merged in 2025-01, with the labels that each got.

#7715 Update VaultUnlocked support 2.9.0.
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/towny/object/EconomyAccount.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/Account.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/BankAccount.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/TownyServerAccount.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/economy/adapter/VaultUnlockedEconomyAdapter.java
Labels: Label-Money

#7736 Fix an NPE in the isOutlawInTown method
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/CombatUtil.java
Labels: bug

#7746 Use Java 21 on Jitpack
  jitpack.yml
Labels: Label-CI/CD

#7749 Only fire successful teleport event on successful teleport
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TeleportWarmupTimerTask.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/SpawnUtil.java
Labels: bug
