Repository TownyAdvanced/Towny, pull requests merged in 2025-07, with the labels that each got.

#7892 Allow the TownPreUnclaimEvent to no longer be fired when a town is being deleted, allowing Districts to get properly deleted when their town will no longer exist.
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDataSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/event/town/TownPreUnclaimEvent.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: Label-Data

#7894 Precompute mob removal classes to entity types
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/MobRemovalTimerTask.java
Labels: enhancement

#7884 Add renaming Towny ranks
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyAdminCommand.java
  Towny/src/main/resources/lang/en-US.yml
Labels: Label-Command, Label-TownyAdmin

#7877 Always read global.yml for overrides
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TranslationLoader.java
Labels: enhancement

#7863 Toggle Jailing in world | Issue #7817
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownyFormatter.java
  Towny/src/main/java/com/palmergames/bukkit/towny/TownySettings.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/HelpMenu.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownyWorldCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/SQLSchema.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyFlatFileSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownySQLSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/TownyWorld.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/lang/en-US.yml
  Towny/src/main/resources/plugin.yml
Labels: Label-Data, Label-Command
