Repository TownyAdvanced/Towny, pull requests merged in 2025-08, with the labels that each got.

#7899 permission validation for town allylist command was added
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/plugin.yml
  Towny/src/main/resources/townyperms.yml
Labels: Label-Command

#7897 Add tab completions for /plot group toggle
  Towny/src/main/java/com/palmergames/bukkit/towny/command/PlotCommand.java
Labels: Label-Command

#7898 Log removed blocks with coreprotect
  Towny/src/main/java/com/palmergames/bukkit/towny/regen/PlotBlockData.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/ProtectionRegenTask.java
Labels: enhancement

#7909 Add res toggle ignoresinvites.
  Towny/src/main/java/com/palmergames/bukkit/towny/command/BaseCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/command/TownCommand.java
  Towny/src/main/java/com/palmergames/bukkit/towny/object/resident/mode/ResidentModeHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/permissions/PermissionNodes.java
  Towny/src/main/resources/plugin.yml
Labels: Label-Command

#7913 1.21.9 support
  Towny/pom.xml
  Towny/src/main/java/com/palmergames/bukkit/config/ConfigNodes.java
  Towny/src/main/java/com/palmergames/bukkit/towny/listeners/TownyPlayerListener.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/EntityTypeUtil.java
  Towny/src/main/java/com/palmergames/bukkit/towny/utils/MinecraftVersion.java
  Towny/src/main/java/com/palmergames/bukkit/util/ItemLists.java
  Towny/src/main/resources/config-migration.json
Labels: enhancement

#7923 Fix districts becoming un-unclaimable.
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDataSource.java
  Towny/src/main/java/com/palmergames/bukkit/towny/db/TownyDatabaseHandler.java
  Towny/src/main/java/com/palmergames/bukkit/towny/tasks/TownClaim.java
Labels: Label-Data

#7928 Add /res friend list online subcommand
  Towny/src/main/java/com/palmergames/bukkit/towny/command/ResidentCommand.java
Labels: enhancement, Label-Command

#7929 Fix language dash -> underscore normalization NPE
  Towny/src/main/java/com/palmergames/bukkit/towny/object/Translation.java
Labels: bug, Label-Languages

#7930 Merge the build and test actions back into one
  .github/workflows/compile-on-push.yml
  .github/workflows/test.yml
Labels: Label-CI/CD
